<%inherit file="base.html" />
<%
from web import ctx
import user, article, acl, board, util
import attachment
import datetime
from i18n import custom_gettext as _
def get_formatted_username(uid):
    u = user.get_user(uid)
    if u[0]:
        return "%(id)s" % {'id': u[1]['uId']}
    else:
        return _('Former Member')
today = datetime.datetime.today()
%>
%if len(articles) == 0:
<div align="center">
    <hr />
    %if search_keyword is UNDEFINED:
    ${_('No articles in this board.<br />Press \'Write\' to write one.')}
    % else:
    ${_('No search results.')}
    % endif
    <hr />
</div>
%else:
<!-- 글 -->
<table border="0" cellspacing="0" cellpadding="4" style="width: 100%; margin-bottom: 10px; " class="list">
    <thead>
        <tr>
        <th scope="col">${_('Title')}</th>
        <th scope="col">${_('Author')}</th>
        <th scope="col">${_('Date')}</th>
        </tr>
    </thead>
    <% i = 1 %>

    %if marked_articles is not UNDEFINED:
        % for a in marked_articles:
        ${put_article(a, i, True)}
        <% i = i + 1 %>
        % endfor
    % endif
    %if articles is not UNDEFINED:
        % for a in articles:
        ${put_article(a, i, False)}
        <% i = i + 1 %>
        % endfor
    % endif
</table>
% endif

<!-- 검색 -->					
<div class="box-flat">
<form name="search_form" method="get" style="margin: 0; padding: 0; text-align: center;" action="/${util.link(board_path)}/+search">
<fieldset>
%if author_checked is UNDEFINED or author_checked == False:
    <input id="check-a" type="checkbox" name="author" value="1" />
% else:
    <input id="check-a" type="checkbox" name="author" value="1" checked="checked" />
% endif
    <label for="check-a">${_('Author')}</label>
%if title_checked is UNDEFINED or title_checked == True:
    <input id="check-b" type="checkbox" name="title" value="1" checked="checked" />
% else:
    <input id="check-b" type="checkbox" name="title" value="1" />
% endif
    <label for="check-b">${_('Title')}</label>
%if body_checked is UNDEFINED or body_checked == True:
    <input id="check-c" type="checkbox" name="body" value="1" checked="checked" />
% else:
    <input id="check-c" type="checkbox" name="body" value="1"/>
% endif
    <label for="check-c">${_('Body')}</label>
%if search_keyword is not UNDEFINED:
    <input name="q" type="text" style="width: 60%; display: inline;" value="${search_keyword}" />
% else:
    <input name="q" type="text" style="width: 60%; display: inline;" />
% endif
    <input name="submit" type="submit" value="검색" />
</fieldset>
</form>
</div>

<ul class="nav-horizontal">
%if search_qs is UNDEFINED:
% if page > 0:
    % if page > 5:
    <li style="width: 7%"><a href="/${util.link(board_path)}?page=1"><img src="/static/image/arrows/first.png" alt="first" border="0" style="vertical-align: middle" /></a></li>
    % else:
    <li style="width: 7%">&nbsp;</li>
    % endif
    % if page > 1:
    <li style="width: 7%"><a href="/${util.link(board_path)}?page=${page-1}"><img src="/static/image/arrows/prev.png" alt="prev" border="0" style="vertical-align: middle" /></a></li>
    % else:
    <li style="width: 7%">&nbsp;</li>
    % endif
    % for i in range(((page-1)/4)*4+1, min(total_page, ((page-1)/4*4+4))+1):
        % if i == page:
    <li style="width: 18%"><a href="#"><b>${i}</b></a></li>
        % else:
    <li style="width: 18%"><a class="listlink" href="/${util.link(board_path)}?page=${i}">${i}</a></li>
        % endif
    % endfor
    % if page < total_page:
    <li style="width: 7%" ><a href="/${util.link(board_path)}?page=${page+1}"><img src="/static/image/arrows/next.png" alt="next" border="0" style="vertical-align: middle" /></a></li>
    % else:
    <li style="width: 7%">&nbsp;</li>
    % endif
    % if page < total_page - 3:
    <li style="width: 7%"><a href="/${util.link(board_path)}?page=${total_page}"><img src="/static/image/arrows/last.png" alt="last" border="0" style="vertical-align: middle" /></a></li>
    % else:
    <li style="width: 7%">&nbsp;</li>
    % endif
% endif
% else:
% if page > 0:
    % if page > 5:
    <li style="width: 7%"><a href="/${util.link(board_path)}${search_qs}&page=1"><img src="/static/image/arrows/first.png" alt="first" border="0" style="vertical-align: middle" /></a></li>
    % endif
    % if page > 1:
    <li style="width: 7%"><a href="/${util.link(board_path)}${search_qs}&page=${page-1}"><img src="/static/image/arrows/prev.png" alt="prev" border="0" style="vertical-align: middle" /> </a></li>
    % endif
    % for i in range(((page-1)/4)*4+1, min(total_page, ((page-1)/4*4+4))+1):
        % if i == page:
    <li style="width: 18%"><a href="#"><b>${i}</b></a></li>
        % else:
        <li style="width: 18%"><a class="listlink" href="/${util.link(board_path)}${search_qs}&page=${i}">${i}</a></li>
        % endif
    % endfor
    % if page < total_page:
    <li style="width: 7%"><a href="/${util.link(board_path)}${search_qs}&page=${page+1}"><img src="/static/image/arrows/next.png" alt="next" border="0" style="vertical-align: middle" /></a></li>
    % endif
    % if page < total_page - 3:
    <li style="width: 7%"><a href="/${util.link(board_path)}${search_qs}&page=${total_page}"><img src="/static/image/arrows/last.png" alt="last" border="0" style="vertical-align: middle" /></a></li>
    % endif
% endif
% endif
</ul>
<ul class="nav-horizontal three-piece">
%if ctx.session.has_key('uid') and acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), ctx.session.uid, 'write'):
    <!-- 글쓰기 -->
    <li><a href="/${util.link(board_path)}/+write" title="${_('Write new article')}">${_('Write')}</a></li>
% endif
%if ctx.session.has_key('uid') and acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), ctx.session.uid, 'modify'):
    <!-- 게시판 수정 -->
    <li><a href="/${util.link(board_path)}/+modify">${_('Modify Board')}</a></li>
% endif
%if ctx.session.has_key('uid'):
    % if user.is_subscribed(ctx.session.uid, board._get_board_id_from_path(board_path)):
    <li><a href="/${util.link(board_path)}/+subscribe" title="${_('Unsubscribe from this board')}">${_('Unsubscribe')}</a> </li>
    % else:
    <li><a href="/${util.link(board_path)}/+subscribe" title="${_('Subscribe to this board')}">${_('Subscribe')}</a> </li>
    %endif
%endif
</ul>


<%def name="put_article(a, i, mark=False)" >
% if i%2 == 0:
<tr class="even">
% else:
<tr class="odd">
% endif
    <!-- 제목 --> 
%if mark:
    <td width="60%" class="emphasized">
% else:
    <td width="60%">
% endif
    %if (indent is UNDEFINED or indent == True) and a.aLevel > 0:
        <img src="/static/image/thread.png" alt="thread" style="margin-left: ${8 + 24 * (a.aLevel-1)}px" />
    %endif
        <a href="/${util.link('%s/+read/%s') % (board_path, a.aSerial)}" class="articlelink">${a.aTitle}
    <% attach_cnt = len(attachment.get_attachment(a.aSerial)) %>
    % if attach_cnt > 0:
    <img src="/static/image/file.png" alt="attachment" />
    % endif
	% if a.comment_count > 0:
        [${a.comment_count}]
        % endif
        </a>
    </td>
    <!-- 글쓴이 -->
    <td align="left">${get_formatted_username(a.uSerial)}</td>
    <!-- 날짜 -->
    %if a.aDatetime.year == today.year:
    <td align="center">${a.aDatetime.strftime('%m-%d')}</td>
    % else:
    <td align="center">${a.aDatetime.strftime('%Y')}</td>
    % endif
</tr>
</%def>
