<% import posixpath
from i18n import custom_gettext as _
import util %>
<%inherit file="base.html" />
<!-- 하위 디렉토리 -->
% if list_type is UNDEFINED:
<h2>${_('Child Boards')}</h2>
% else:
<h2>${list_type}</h2>
% endif
<ul class="nav-list">
% if len(child_boards) == 0:
    % if list_type is UNDEFINED:
    <li>${_('No child boards.')}</li>
    % else:
    <li>${_('No boards.')}</li>
    % endif
% else:
    % for child_board in child_boards:
    <li class="group">
        <a href="${util.link(child_board.bName)}" class="boardlink">
        %if child_board.bType == 0:
        <img class="type" src="/static/image/folder.png" alt="디렉터리" />
        %else:
        <img class="type" src="/static/image/board.png" alt="게시판" />
        %endif
        ${posixpath.basename(child_board.bName)}&nbsp;&mdash;&nbsp;${child_board.bDescription|h}</a>
    </li>
    % endfor
% endif
</ul>
