<% from web import ctx 
import board
import posixpath
from i18n import custom_gettext as _
def traverse_board_path(path):
    ret = ""
    id = board._get_board_id_from_path(path)
    while id != 1:
        i = board.get_board_info(id)
        if i.bType == 0:
            ret = '&nbsp;&gt;&nbsp;<a class="dirlink" href="/m%s">%s</a>' % (i.bName, i.bName.split('/')[-1]) + ret
        else:
            ret = '&nbsp;&gt;&nbsp;<a class="boardlink" href="/m%s">%s</a>' % (i.bName, i.bName.split('/')[-1]) + ret
        id = board.get_parent(id)
    ret = u'<a class="dirlink" href="/m">'+ _('Boards')+'</a>' + ret
    return ret

def traverse_child_board(path):
    sep = '&nbsp;|&nbsp;'
    ret = ""
    id = board._get_board_id_from_path(path)
    children = board.get_child(id)
    for child in children:
        if child.bType == 0:
            child_image = '/static/image/folder.png'
        else:
            child_image = '/static/image/board.png'
        if child.bDescription.strip() == '':
            child_desc = posixpath.basename(child.bName)
        else:
            child_desc = child.bDescription
        ret = ret + '<a class="boardlink" href="/m%s"><img class="type" src="%s" />&nbsp;%s</a>%s' % (child.bName, child_image, child_desc, sep)
    return ret[0:-len(sep)]

def get_type(path):
    id = board._get_board_id_from_path(path)
    data = board.get_board_info(id)
    return data.bType
%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
%if lang is UNDEFINED:
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko">
% else:
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}">
% endif
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">

% if title is UNDEFINED:
    <title>${_('Error')}</title>
% else:
    <title>${title}</title>
% endif
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="/static/style/mobile.css" />
% if board_path is not UNDEFINED:
% if feed is not UNDEFINED:
    <link rel="alternate" type="application/rss+xml" href="/${board_path}/+rss" title="RSS 피드 (/${board_path})" />
    <link rel="alternate" type="application/atom+xml" href="/${board_path}/+atom" title="Atom 피드 (/${board_path})" />
% endif
% endif
%if feeds is not UNDEFINED:
%for f in feeds:
    <link rel="alternate" type="application/${f['type']}+xml" href="${f['path']}" title="${f['name']}" />
% endfor
% endif
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-368496-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="header">
%if board_path is UNDEFINED:
    %if board_desc is UNDEFINED:
    <a class="title" href="#">${_('Error')}</a>
    %else:
    <a class="title" href="#">${board_desc}</a>
    %endif
%else:
    <a class="title" href="/m/${board_path}/+cover" target="_blank">${board_desc}</a>
%endif
    <br />
## 부모 보드
%if board_path is not UNDEFINED:
    ${traverse_board_path(board_path)}
%else:
    <a class="dirlink" href="/m">${_('Boards')}</a>
%endif
<br />
## 자식 보드
% if board_path is not UNDEFINED:
    % if get_type(board_path) > 0:
    ${traverse_child_board(board_path)}
    % endif
% endif

</div>

<div id="body">
    ${next.body()}
</div> <!-- end of body -->

<div id="footer">
    <a href="/m">${_('Home')}</a> |
    <a href="/m/divisionCS">${_('Department')}</a> |
    <a href="/m/friends">${_('Friends')}</a> |
    <a href="/m/course">${_('Courses')}</a>
    <br />
        ## ${_('Login')}을 비롯한 다른 버튼들을 여기로.
%if ctx.session is UNDEFINED:
    <a href="/m/+join">${_('Join')}</a> |
    <a href="/m/+login">${_('Login')}</a>
%elif not ctx.session.has_key('uid'):
    <a href="/m/+join">${_('Join')}</a> |
    <a href="/m/+login">${_('Login')}</a>
% else:
    <a href="/m/+u/${ctx.session.username}/+new_article">${_('New Article')}</a>
    <br/>
    
    <a href="/m/+u/${ctx.session.username}/+my_board">${_('My Boards')}</a> |
    <a href="/m/+u/${ctx.session.username}/+favorites">${_('Favorites')}</a> |
    <a href="/m/+u/${ctx.session.username}">${_('My Info')}</a> |
    <a href="/m/+logout">${_('Logout')}</a>
% endif
    <br />
    Powered by <a href="http://haje.org">HAJE</a><br />
    <a href="/m/+credits">${_('Credits')}</a>
</div>
    
</body>
</html>
