<%inherit file="base.html" />
<% import user
import posixpath
def get_userid(uid):
    u = user.get_user(uid)[1]
    return '%s' % u.uId
%>
<form name="write_form" method="post" action="/m/${board_path}/+${action}">
%if action == 'modify':
<h3>게시판 정보 수정</h3>
% elif action == 'create_board':
<h3>하위 게시판 만들기</h3>
% endif
<h4>기본 정보</h4>
<ul class="list2">
    <li>위치: \
% if action == 'modify':
        <input name="path" type="text" value="${posixpath.dirname(board_info.bName)}" /> \
%elif action == 'create_board':
        ${board_info.bName} \
% endif
    </li>
    <li>이름: \
% if action == 'modify':
        <input name="name" type="text" maxlength="255" style="width:300px" value="${posixpath.basename(board_info.bName)}" /> \
%elif action == 'create_board':
        <input name="name" type="text" maxlength="255" style="width:300px" /> \
% endif
    </li>
    <li>관리자: <input name="owner" type="text" size="12" value="${get_userid(board_info.uSerial)}" /></li>
</ul>
<h4>세부 설정</h4>
<ul class="list2">
    <li>유형: \
% if action == 'modify':
        <input id="radio_dir" type="radio" name="type" onclick="dirclick()" value="0" \
        % if board_info.bType == 0:
checked="checked" \
        %endif 
        />
% elif action == 'create_board':
        <input id="radio_dir" type="radio" name="type" onclick="dirclick()" value="0">
% endif
        <label for="radio_dir">폴더</label>
% if action == 'modify':
        <input id="radio_board" type="radio" name="type" onclick="boardclick()" value="1" \
        % if board_info.bType == 1:
checked="checked" \
        %endif 
        />
% elif action == 'create_board':
        <input id="radio_board" type="radio" name="type" onclick="boardclick()" value="1" checked="checked">
% endif
        <label for="radio_board">게시판</label>
    </li>
    <li>댓글: \
% if action == 'modify':
        <input id="radio_comyes" type="radio" name="commentable" value="yes" \
        % if board_info.bComment == 1:
checked="checked" \
        %endif 
        />
% elif action == 'create_board':
        <input id="radio_comyes" type="radio" name="commentable" value="yes" checked="checked" />
% endif
        <label for="radio_comyes">허용</label>
% if action == 'modify':
        <input id="radio_comno" type="radio" name="commentable" value="no" \
        % if board_info.bComment == 0:
checked="checked" \
        %endif 
        />
% elif action == 'create_board':
        <input id="radio_comno" type="radio" name="commentable" value="no" />
% endif
        <label for="radio_comno">불가</label>
    </li>
    <li>타인 글쓰기: \
% if action == 'modify':
        <input id="radio_comyes" type="radio" name="writable" value="yes" \
% if board_info.bWrite == 1:
checked="checked" \
%endif 
/>
% elif action == 'create_board':
        <input id="radio_comyes" type="radio" name="writable" value="yes" checked="checked" />
% endif
        <label for="radio_comyes">허용</label>
% if action == 'modify':
        <input id="radio_comno" type="radio" name="writable" value="no" \
% if board_info.bWrite == 0:
checked="checked" \
%endif 
/>
% elif action == 'create_board':
        <input id="radio_comno" type="radio" name="writable" value="no" />
% endif
        <label for="radio_comno">불가</label>
    </li>
</ul>

<h4>게시판 설명</h4>
<ul class="list2">
    <li>한 줄 설명: <input name="description" type="text" maxlength="255" style="width:300px" \
% if action == 'modify':
value="${board_info.bDescription}" /> \
% else:
/> \
% endif
    </li>
    <li>한 바닥 설명<br />
        <textarea name="information" style="font-size: 0.9em; width: 100%; height: 360px"> \
% if action == 'modify':
${board_info.bInformation}
% endif
        </textarea>
    </li>
</ul>

<!-- 완료/취소 버튼 -->			
<input type="submit" name="ok" value="완료">
<input type="submit" name="cancel" value="취소">
<input type="hidden" name="referer" value="${referer}">

<div style="height: 10px"></div>
</form>
