<% import random
from i18n import custom_gettext as _ %>
<%inherit file="base.html" />

<p style="text-align: center;">
<img style="margin: 5px;" src="/static/image/error_m/${random.randint(1, 9)}.jpg" width="240" height="180" />
</p>
<h3 style="margin-bottom: 5px;">오류 : <span style="color: red">${error_message}</span></h3>
% if error_detail is UNDEFINED:
    ${_('Check error details and retry.')}<br />
% else:
    ${_('An error has occured. Sorry for inconvenience.')}<br />
    ${_('Following information is reported to administrator. We will fix error soon.')} (<a href="javascript:eval(document.getElementById('exception').style.display='block')">${_('More')}</a>)
    <div id="exception" style="display: none; margin-top: 10px; padding-top: 10px; border-top: dashed 1px #3C78B5; font-size: 0.9em">
<pre>
${error_detail}
</pre>
    </div>
    <hr />
% endif
<p style="text-align: right;">
    <input type="button" value="${_('Go Back')}" onclick="history.back()" />
</p>
