<%inherit file="base.html" />
<center>
    <div style="border: 1px solid #C0C0C0; padding:5px; width: 41em; font-size: 10pt; font-family: monospace; text-align: left">
        공지를 위한 placeholder
        <br />
    </div>
    <div style="padding-top: 20px; width: 42em; line-height:1.6em; text-align: left">
    노아 아이디가 없으신 분들은 <a href="/+join/">여기</a>를 클릭해 주세요
% if error is not UNDEFINED:
    <br /><span style="color: red">${error}</span>
% endif
    <hr />
    <form method="post" action="/+login">
        <input name="url" type="hidden" value="${referer}" />
        <div style="height: 1.8em">
            <div style="height: 1.8em; width: 18em; float: left">
                <div class="desc">ID</div>
                <input id="username" name="username" type="text" style="width: 8em; height: 1.6em"/>
            </div>
            <div style="height: 1.8em; width: 18em; float: left">
                <div class="desc">암호</div>
                <input id="password" name="password" type="password" style="width: 8em; height: 1.6em"/>
            </div>
            <input align="right" type="submit" name="Submit" value="로그인"/>
        </div>
        <hr />
    </form>
</center>

