<%inherit file="base.html" />
<% import util
from i18n import custom_gettext as _ %>
${_('To join NOAH, click <a href="/+join/">here</a>')}
% if error is not UNDEFINED:
    <br /><span style="color: red">${error}</span>
% endif
<hr />
<form method="post" action="/m/+login">
    <input name="url" type="hidden" value="${referer}" />
    <label for="username">ID</label>
    <input id="username" name="username" type="text" style="width: 8em;"/>
    <label for="password">${_('Password')}</label>
    <input id="password" name="password" type="password" style="width: 8em;"/>
    <input type="submit" name="Submit" value="${_('Login')}"/>
</form>
<h3>${_('Notice')}</h3>
<% notice_text = util.get_login_notice() %>
% if notice_text == 'INVALID_NOTICE_BOARD':
${_('Internal Error')}
% elif notice_text == 'NO_NOTICE':
${_('No Notice')}
% else:
${util.format(util.get_login_notice())}
% endif
