<%inherit file="base.html" />
<% import util
from i18n import custom_gettext as _ %>
<form name="modify_form" method="post" action="/m/+u/+modify">
<h3>${_('Edit My Information')}</h3>
<h4>${_('Personal Information')}</h4>
<ul class="list2">
    <li>ID: ${user.uId}</li>
    <li>${_('Nickname')}: <input name="nick" type="text" maxlength="16" style="width: 12em" value="${user.uNick}" /></li>
    <li>${_('E-Mail')}: <input name="email" type="text" maxlength="64" style="width: 12em" value="${user.uEmail}" /></li>
    <li>${_('Website')}: <input name="homepage" type="text" maxlength="64" style="width: 12em" value="${user.uHomepage}" /></li>
    <li>${_('Language')}:
        <select name="language"style="width: 12em">
% for o in util.get_lang_map().keys():
    % if o == user.language:
            <option value="${o}" selected="selected">${util.lang_map[o]}</option>
    % else:
            <option value="${o}">${util.lang_map[o]}</option>
    % endif
% endfor
        </select></li>
    <!-- 비밀번호 수정 -->
    <li>${_('Current Password')}: <input name="oldpass" type="password" style="width: 12em"></li>
    <li>${_('New Password')}: <input name="newpass1" type="password" style="width: 12em"></li>
    <li>${_('Repeat Password')}: <input name="newpass2" type="password" style="width: 12em"></li>
    <li>${_('Signature')}:<br />
    <textarea name="sig" style="font-size: 0.9em; width: 100%; height: 100px">${user.uSig}</textarea>
    </li>
    <li>${_('Introduction')}:<br />
    <textarea name="introduction" style="font-size: 0.9em; width: 100%; height: 100px">${user.uPlan}</textarea>
</ul>
<!-- 완료/취소 버튼 -->			
<input type="submit" name="ok" value="${_('Submit')}" style="margin: 6px" />
<input type="submit" name="cancel" value="${_('Cancel')}" style="margin: 6px" />
<input type="hidden" name="referer" value="${referer}" />

</form>
