<% import user as user_ 
import util
from web import ctx
from i18n import custom_gettext as _ %>
<%inherit file="base.html" />
<h3>${_('My Information')}</h3>
<h4>${_('Personal Information')}</h4>
<ul class="list2">
    <li>ID: ${user.uId}</li>
    <li>${_('Nickname')}: \
%if user.uNick is UNDEFINED:
    <span style='color: #aaaaaa'>${_('None')}</span>
%elif user.uNick.strip() == '':
    <span style='color: #aaaaaa'>${_('None')}</span>
% else:
${user.uNick} \
% endif
    </li>
    <li>${_('E-Mail')}: \
%if user.uEmail is UNDEFINED:
    <span style='color: #aaaaaa'>${_('None')}</span>
%elif user.uEmail.strip() == '':
    <span style='color: #aaaaaa'>${_('None')}</span>
% else:
<span>${user.uEmail}</span> \
% endif
    </li>
    <li>${_('Website')}: \
%if user.uHomepage is UNDEFINED:
    <span style='color: #aaaaaa'>${_('None')}</span>
% elif user.uHomepage.strip() == '':
    <span style='color: #aaaaaa'>${_('None')}</span>
%else:
<span>${user.uHomepage}</span> \
% endif
    </li>
    <li>${_('Signature')}<br />
<div style="border: solid 1px lightgray;">
%if user.uSig is UNDEFINED:
    <span style="font-size: 0.9em; color: #aaaaaa">${_('None')}</span>
%elif user.uSig.strip() == '':
    <span style="font-size: 0.9em; color: #aaaaaa">${_('None')}</span>
% else:
<span style="font-size: 0.9em">${util.format(user.uSig)}</span>
% endif
</div>
    </li>
    <li>${_('Introduction')}<br />
<div style="border: solid 1px lightgray;">
%if user.uPlan is UNDEFINED:
    <span style="font-size: 0.9em; color: #aaaaaa">${_('None')}</span>
%elif user.uPlan.strip() == '':
    <span style="font-size: 0.9em; color: #aaaaaa">${_('None')}</span>
% else:
<span style="font-size: 0.9em">${user.uPlan}</span>
% endif
</div>
    </li>
</ul>

<h4>${_('Usage Statistics')}</h4>
<ul class="list2">
    <li>${_('Join Date')}: ${user.uDatetime}</li>
    <li>${_('Login Count')}: ${user.uNumLogin}</li>
    <li>${_('Posts')}: ${user_.get_post_count(user_id)}</li>
    <li>${_('_:Count\nComments')}: ${user_.get_comment_count(user_id)}</li>
% if ctx.session is not UNDEFINED and ctx.session.has_key('uid'):
    % if ctx.session.uid == 1 or ctx.session.uid == user_id:
    <li>${_('Last Login')}:  \
        %if user.uLastLogin is UNDEFINED:
<span style='color: #aa0000'>${_('Unknown')}</span>
        % else:
<span>${user.uLastLogin}</span> \
        % endif
    </li>
    <li>${_('Last Login IP')}: \
        %if user.uLastHost is UNDEFINED:
<span style='color: #aa0000'>${_('Unknown')}</span>
        %elif user.uLastHost.strip() == '':
<span style='color: #aa0000'>${_('Unknown')}</span>
        % else:
<span>${user.uLastHost}</span> \
        % endif
    </li>
    % endif
% endif
</ul>
<br />
<a class="button" href="/m/+u/+my_article">${_('My Posts')}</a>
<a class="button" href="/m/+u/+modify">${_('Modify')}</a>
<a class="button" href="/m/+u/+leave">${_('Leave NOAH')}</a>
