<% import posixpath
from i18n import custom_gettext as _ %>
<%inherit file="base.html" />
<!-- 하위 디렉토리 -->
% if list_type is UNDEFINED:
<h3>${_('Child Boards')}</h3>
% else:
<h3>${list_type}</h3>
% endif
<ul class="list">
% if len(child_boards) == 0:
    % if list_type is UNDEFINED:
    <li>${_('No child boards.')}</li>
    % else:
    <li>${_('No boards.')}</li>
    % endif
% else:
    <% i = 1 %>
    % for child_board in child_boards:
        % if i%2 == 0:
    <li class="even">
        % else:
    <li class="odd">
    %endif
    <% i = i + 1 %>
        %if child_board.bType == 0:
        <img class="type" src="/static/image/folder.png" alt="디렉터리" />
        %elif child_board.bType == 1:
        <img class="type" src="/static/image/board.png" alt="게시판" />
        %else:
        <img class="type" src="/static/image/alias.png" alt="넘겨주기" />
        %endif
        <a href= "/m${child_board.bName}" class="boardlink">${posixpath.basename(child_board.bName)}&nbsp;&mdash;&nbsp;${child_board.bDescription}</a>
    </li>
    % endfor
% endif
</ul>
%if board_path != '':
<p> <a class="button" href="/m/${board_path}/+summary">${_('Information')}</a> </p> 
% endif
