<%inherit file="base_mail.html" />
<% import util, user, config
from web import ctx
from i18n import custom_gettext as _
def get_formatted_username(uid):
    u = user.get_user(uid)
    if u[0]:
        return "%(id)s (%(nick)s)" % {'id': u[1]['uId'], 'nick': u[1]['uNick']}
    else:
        return _('Former Member')
%>
<h1>메시지 보기</h1>
% if mail is UNDEFINED:
${_('Internal Error')}
<% return %>
% endif
<div class="row">
    <div class="left-container">${_('Title')}</div>
    <span class="sep">:</span>
    <span id="title">${mail.mTitle}</span>
</div>
<div class="row">
    <div class="left-container">${_('Author')}</div>
    <span class="sep">:</span>
    <span id="writer">${get_formatted_username(mail.mSenderSerial)}</span>
</div>
<div class="row">
    <div class="left-container">${_('Date/Time')}</div>
    <span class="sep">:</span>
    <span id="writetime">${mail.mDatetime.strftime('%Y-%m-%d %H:%M:%S')}</span>
</div>
<div id="content">
${util.format(mail.mContent)}
</div>
<!-- 버튼: 목록/편지쓰기/답장/삭제 -->
<div class="menu">
<ul>
    <!-- 목록 -->
    <li><a class="button" href="/+u/+inbox">${_('List')}</a></li>
    <!-- 답장 쓰기 -->
    <li><a class="button" href="/+u/+reply_message?message_id=${mail.mSerial}">${_('Reply')}</a></li>
    <!-- 편지 쓰기 -->	
    <li><a class="button" href="/+u/+write_message">${_('Write Message')}</a></li>
    <!-- 삭제 --> 
    <li><a class="button" href="/+u/+delete_message?message_id=${mail.mSerial}">${_('Delete')}</a></li>
</ul>
</div>
<br />
