<% from web import ctx
import web
from i18n import custom_gettext as _
import user, board, posixpath, pm, config, util
from datetime import datetime
def get_friend_boards(type):
    friend_list = []

    for b in board.search_board('%%[%s%%' % type):
    	friend_list.append(dict(year = b.bDescription[3:5], board = b))

    return friend_list

def traverse_child_board(path):
    sep = '\n'
    ret = ""
    id = board._get_board_id_from_path(path)
    if id < 0:
        return ''
    children = board.get_child(id)
    for child in children:
        if child.bType == 0:
            child_image = '/static/image/folder.png'
        else:
            child_image = '/static/image/board.png'
        if child.bDescription.strip() == '':
            child_desc = posixpath.basename(child.bName)
        else:
            child_desc = child.bDescription
	ret = ret + '<li><a class="boardlink" href="%s"><img class="type" src="%s" />&nbsp;%s</a></li>%s' % (util.link(child.bName), child_image, child_desc, sep)
    return ret[0:-len(sep)]

%>

<div class="personal_tools" style="display: inline;">
%if ctx.session is UNDEFINED or (not ctx.session.has_key('uid')):
    <form id="form-login" method="post" action="${util.link('/+login')}">
        <input name="url" type="hidden" value=""/>
        <p><label for="username">${_('ID')}</label> <input id="username" name="username" type="text" tabindex="1" class="auth_input"/></p>
        <p><label for="password">${_('Password')}</label> <input id="password" name="password" type="password" tabindex="2" class="auth_input"/></p>
        <input class="button" type="submit" id="submit" tabindex="3" value="${_('Login')}"/> <a class="button" href="${util.link('/+join')}">${_('Join')}</a> <a class="button" href="${util.link('/+lost_login')}">${_('Lost Login?')}</a>
        <br />
        <input id="autologin" type="checkbox" name="autologin" value="on" /><label for="autologin">${_('Auto Login (max two weeks)')}</label>
%if ctx.protocol != 'https':
        <br />
        <input id="safelogin" type="checkbox" name="safelogin" value="off"/><label for="safelogin">${_("Safe Login (https)")}</label>
        <br />
        <a class="userinfo_side" href="https://noah.haje.org">${_('Full HTTPS session')}</a>
% endif
    </form>
    <script> 
    $("#safelogin").change(function() {
        if(this.checked) {
            $("#form-login").attr('action', "${util.https()}${util.link('/+login')}");
        } else {
            $("#form-login").attr('action', "${util.link('/+login')}");
        }
    });
    $("#username").focus(); 
    </script>
% else:
<p>
<div class="myinfo_left">
% if ctx.session.has_key('uid'):
    % if user.has_profile_image(ctx.session.uid):
    <img src="${posixpath.join(config.pi_web_path, '%s.png' % ctx.session.uid)}" class="avatar_large" alt="Avatar" />
    % else:
    <img src="/static/image/no_avatar.png" class="avatar_large" alt="Avatar" />
    % endif
% else:
    <img src="/static/image/no_avatar.png" class="avatar_large" alt="Avatar" />
% endif
</div>
<div class="myinfo_right">
    <a class="userinfo_side" href="${util.link('/+u')}">${ctx.session.usernick} (${ctx.session.username})</a><br />
    <a class="userinfo_side" href="${util.link('/+u/+modify')}">${_('My Info')}</a></div>
</p>
<p>
<a class="button" href="${util.link('/+u/+new_article')}">${_('New Article')}</a>
   <% read_cnt = pm.unread_count(ctx.session.uid) %>
   %if read_cnt > 0:
       <a class="button" style="background: red; color: white;" href="${util.link('/+u/+inbox')}">${_('Mail')} (${read_cnt})</a>
   % else:
<a class="button" href="${util.link('/+u/+inbox')}">${_('Mail')}</a>
   % endif
<a class="button" href="${util.link('/+logout')}">${_('Logout')}</a>
% endif
</div>
<br />

% if board_path is not UNDEFINED:
    % if util.get_type(board_path) == 1:
<div class="heading">${_('Sub-boards')}</div>
    <ul>
        ${traverse_child_board(board_path)}
    </ul>
    % endif
% endif

% if ctx.session.has_key('uid'):
<div class="heading"><span class="plainlink open" id="a_myboards">${_('My Boards')}</span>
</div>
<div id="myboards" style="display: inline;">
<ul>
<% not_has_my_board = True %>
% for my_board in user.get_owned_board(ctx.session.uid):
    <li><a class="boardlink" href="${util.link(my_board.bName)}">\
    % if my_board.bType == 0:
<img class="type" src="/static/image/folder.png" /> \
    % else:
<img class="type" src="/static/image/board.png" /> \
    % endif
    % if my_board.bDescription.strip() == '':
${my_board.bName}\
    % else:
${my_board.bDescription}\
    % endif
</a></li>
    <% not_has_my_board = False %>
% else:
    % if not_has_my_board:
    <li>${_('You have no boards')}</li>
    % endif
% endfor
</ul>
</div>

<div class="heading"><span class="plainlink open" id="a_favorites">${_('Favorites')}</span> <span style="color: black; font-size:0.9em; font-weight: normal;"><a class="favlink"\
% if board_path is not UNDEFINED:
    % if board_path == '':
    href="#">${_('(not available)')}\
    % elif user.is_favorite(ctx.session.uid, board._get_board_id_from_path(board_path)):
    href="${util.link('/'+board_path)}/+remove_from_favorites">${_('(remove)')}\
    % else:
    href="${util.link('/'+board_path)}/+add_to_favorites">${_('(add)')}\
    % endif
% else:
href="#">${_('(not available)')}\
% endif
</a></span>
</div>
<div id="favorites" style="display: inline;">
<ul>
<% not_has_fav_board = True %>
% for my_board in user.get_favorite_board_with_detail(ctx.session.uid):
    <li><a class="boardlink" href="${util.link(my_board.bName)}">\
    % if my_board.bType == 0:
<img class="type" src="/static/image/folder.png" /> \
    % else:
<img class="type" src="/static/image/board.png" /> \
    % endif
    % if my_board.bDescription.strip() == '':
${my_board.bName}\
    % else:
${my_board.bDescription}\
    % endif
</a></li>
    <% not_has_fav_board = False %>
% else:
    % if not_has_fav_board:
    <li>${_('No board in your favorites')}</li>
    % else:
    <li><img src="/static/image/feed.png" /> ${_('Feed')}: <a href="${util.link('/+u')}/${ctx.session.username}/+favorite_rss">RSS</a>, 
        <a href="${util.link('/+u')}/${ctx.session.username}/+favorite_atom">Atom</a></li>
    % endif
% endfor
</ul>
</div>
% endif

%if board_path is not UNDEFINED:
%if feed is not UNDEFINED:
<!-- 피드 (for Google Chrome) -->
<div id="feeds"> 
    <a href="${util.link('/'+board_path)}/+rss" class="feed"><img style="border-style: none;" src="/static/image/feed.png" /> RSS</a> 
    <a href="${util.link('/'+board_path)}/+atom" class="feed"><img style="border-style: none;" src="/static/image/feed.png" /> Atom</a> 
</div> 
<br />
% endif
% endif
