<%! scripts = ['/static/scripts/fold.js'] %><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}">
<head>
% if title is UNDEFINED:
    <title>오류</title>
% else:
    <title>${title}</title>
% endif
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/style/default.css">		
% if board_path is not UNDEFINED:
% if feed is not UNDEFINED:
    <link rel="alternate" type="application/rss+xml" href="/${board_path}/+rss" title="RSS 피드 (/${board_path})" />
    <link rel="alternate" type="application/atom+xml" href="/${board_path}/+atom" title="Atom 피드 (/${board_path})" />
% endif
% endif
%if feeds is not UNDEFINED:
%for f in feeds:
    <link rel="alternate" type="application/${f['type']}+xml" href="${f['path']}" title="${f['name']}" />
% endfor
% endif
${self.head_scripts()}
</head>

<body>
<div class="area">
    <!-- 헤더프레임 -->
    <div id="header">
        <%include file="header.html" />
    </div>

    <!-- 사이드바 -->
    <div id="sidemenuOut">
        <div id="sidemenu">
        <%include file="sidebar.html" />
        </div>
    </div>

    <div id="body">
        <div class="area">
            ${next.body()}
        </div> <!-- end of area -->
    </div> <!-- end of body -->

    <!-- footer frame -->
    <!-- IE에서 float으로만 이루어진 내용을 clear하면 layout이 이상해지는 관계로 땜질 -->
    <div style="clear: both; font-size: 1px">&nbsp;</div>
    <div id="footer">
        <%include file="footer.html" />
    </div>
	
</div> <!-- end of area -->
</body>
</html>
<%def name="head_scripts()">
<% 
    all_scripts = []
    t = self
    while t:
      all_scripts = getattr(t.module, 'scripts', []) + all_scripts
      t = t.inherits
%>
% for script in all_scripts:
    <script src="${script}" type="text/javascript"></script>
% endfor
</%def>
