<%inherit file="base.html" />
<% import user
import posixpath
from i18n import custom_gettext as _ 
def get_userid(uid):
    u = user.get_user(uid)[1]
    return '%s' % u.uId
%>
<form name="write_form" method="post" action="/${board_path}/+${action}">
<div>
    <div class="heading">${_('Basic Information')}</div>
    <div class="row">
        <div class="left-container">${_('Location')}</div>
        <span class="sep">:</span>
        <span>
        % if action == 'modify':
            <input name="path" type="text" value="${posixpath.dirname(board_info.bName)}" />
        %elif action == 'create_board':
            ${board_info.bName}
        % endif
        </span>
    </div>
<!-- 게시판 이름 -->
    <div class="row">
        <div class="left-container">${_('Name')}</div>
        <span class="sep">:</span>
        <span>
        % if action == 'modify':
            <input name="name" type="text" maxlength="255" style="width:300px" value="${posixpath.basename(board_info.bName)}" />
        %elif action == 'create_board':
            <input name="name" type="text" maxlength="255" style="width:300px" />
        % endif
        </span>
    </div>
    <!-- 관리자 -->
    <div class="row"> 
        <div class="left-container">${_('Admin')}</div>
        <span class="sep">:</span>
        <span>
            <input name="owner" type="text" size="12" value="${get_userid(board_info.uSerial)}">
        </span>
    </div>

    <div class="heading">${_('Details')}</div>
    <!-- 타입 -->
    <div class="row">
        <div class="left-container">${_('Type')}</div>
        <span class="sep">:</span>
        <span>
% if action == 'modify':
        <input id="radio_dir" type="radio" name="type" onclick="dirclick()" value="0" \
        % if board_info.bType == 0:
checked="checked" \
        %endif 
        />
% elif action == 'create_board':
        <input id="radio_dir" type="radio" name="type" onclick="dirclick()" value="0">
% endif
        <label for="radio_dir">${_('Folder')}</label>
% if action == 'modify':
        <input id="radio_board" type="radio" name="type" onclick="boardclick()" value="1" \
        % if board_info.bType == 1:
checked="checked" \
        %endif 
        />
% elif action == 'create_board':
        <input id="radio_board" type="radio" name="type" onclick="boardclick()" value="1" checked="checked">
% endif
        <label for="radio_board">${_('Board')}</label>
        </span>
    </div>

    <!-- 커멘트 여부 -->
    <div class="row">
        <div class="left-container">${_('Comments')}</div>
        <span class="sep">:</span>
        <span>
% if action == 'modify':
        <input id="radio_comyes" type="radio" name="commentable" value="yes" \
        % if board_info.bComment == 1:
checked="checked" \
        %endif 
        />
% elif action == 'create_board':
        <input id="radio_comyes" type="radio" name="commentable" value="yes" checked="checked" />
% endif
        <label for="radio_comyes">${_('Allow')}</label>
% if action == 'modify':
        <input id="radio_comno" type="radio" name="commentable" value="no" \
        % if board_info.bComment == 0:
checked="checked" \
        %endif 
        />
% elif action == 'create_board':
        <input id="radio_comno" type="radio" name="commentable" value="no" />
% endif
        <label for="radio_comno">${_('Not Allow')}</label>
        </span>
    </div>

    <!-- 글쓰기 여부 -->
    <div class="row">
        <div class="left-container">${_('Guest Writing')}</div>
        <span class="sep">:</span>
        <span>
% if action == 'modify':
<input id="radio_comyes" type="radio" name="writable" value="yes" \
% if board_info.bWrite == 1:
checked="checked" \
%endif 
/>
% elif action == 'create_board':
        <input id="radio_comyes" type="radio" name="writable" value="yes" checked="checked" />
% endif
        <label for="radio_comyes">${_('Allow')}</label>
% if action == 'modify':
        <input id="radio_comno" type="radio" name="writable" value="no" \
% if board_info.bWrite == 0:
checked="checked" \
%endif 
/>
% elif action == 'create_board':
        <input id="radio_comno" type="radio" name="writable" value="no" />
% endif
        <label for="radio_comno">${_('Not Allow')}</label>
        </span>
    </div>

    <div class="heading">${_('Board Description')}</div>
    <!-- 한줄 설명 -->
    <div class="row">
        <div class="left-container">${_('Short Description')}</div>
        <span class="sep">:</span>
        <span><input name="description" type="text" maxlength="255" style="width:300px"
% if action == 'modify':
value="${board_info.bDescription}" /> \
% else:
/> \
% endif
</span>
    </div>

    <!-- 한바닥 설명 -->
    <div class="row">
        <div class="left-container">${_('Long Description')}</div>
        <span class="sep">:</span>
        <textarea name="information" style="font-size: 1.2em; width: 500px; height: 360px">
% if action == 'modify':
${board_info.bInformation}
% endif
        </textarea>
        </div>
    </div>

    <!-- 완료/취소 버튼 -->			
    <span style="align:right;">
        <input type="submit" name="ok" value="${_('Submit')}">
        <input type="submit" name="cancel" value="${_('Cancel')}">
        <input type="hidden" name="referer" value="${referer}">
    </span>

<div style="height: 10px"></div>
</form>
