<%inherit file="base.html" />
<%
import user, board, util, acl
import posixpath
from web import ctx
def get_formatted_username(uid):
    u = user.get_user(uid)[1]
    return "%(id)s (%(nick)s)" % {'id': u['uId'], 'nick':u['uNick']}

upper_admin_list = []
for i in acl.get_board_admins(board_info.bSerial):
    if (i != board_info.uSerial) and (i != 1):
        upper_admin_list.append(get_formatted_username(i))

upper_admin_list.sort()
%>
<div>
    <div style="float: left; margin: 0 5px 0 5px;">
%if ctx.session.has_key('uid') and acl.is_allowed('board', board_info.bSerial, ctx.session.uid, 'modify'):
        <!-- 게시판 수정 -->
        <a class="button" href="/${board_path}/+modify">고치기</a>
##        <!-- 게시판 백업 -->
##        <a class="button" href="/${board_path}/+backup">백업</a>
##        <!-- 게시판 통계 -->
% endif
##        <a class="button" href="/${board_path}/+statistics">통계</a>
    </div>

    <div style="float: right; margin: 0 5px 0 5px;">
%if ctx.session.has_key('uid') and acl.is_allowed('board', board_info.bSerial, ctx.session.uid, 'delete'):
    <!-- 게시판 삭제 -->
        <a class="button" href="/${board_path}/+delete">이 게시판 없애기</a>
% endif
%if ctx.session.has_key('uid') and acl.is_allowed('board', board_info.bSerial, ctx.session.uid, 'create'):
    <!-- 게시판 생성  -->
        <a class="button" href="/${board_path}/+create_board">하위 게시판 만들기</a>
% endif
    </div>
    </form>
</div>
<br />
<br />
<div>
    <div class="heading">기본 정보</div>

    <div id="row">
        <div class="left-container">위치</div>
        <span class="sep">:</span>
        <span>${posixpath.dirname(board_info.bName)}</span>
    </div>

    <!-- 게시판 이름 -->
    <div id="row">
        <div class="left-container">이름</div>
        <span class="sep">:</span>
        <span>${posixpath.basename(board_info.bName)}</span>
    </div>
    <!-- 관리자 -->
    <div id="row"> 
        <div class="left-container">관리자</div>
        <span class="sep">:</span>
        <span>${get_formatted_username(board_info.uSerial)}</span>
    </div>
% if len(upper_admin_list) > 0:
    <!-- 상위 관리자 -->
    <div id="row"> 
        <div class="left-container">상위 관리자</div>
        <span class="sep">:</span>
        <span>${', '.join(upper_admin_list)}</span>
    </div>
% endif

    <div class="heading">세부 설정</div>
    
    <!-- 타입 -->
    <div id="row">
        <div class="left-container">유형</div>
        <span class="sep">:</span>
        <span>${[u'폴더', u'게시판'][board_info.bType]}</span>
    </div>

    <!-- 커멘트 여부 -->
    <div id="row">
        <div class="left-container">커멘트</div>
        <span class="sep">:</span>
        <span>${[u'불가', u'가능'][board_info.bComment]}</span>
    </div>

    <!-- 글쓰기 여부 -->
    <div id="row">
        <div class="left-container">타인 글쓰기</div>
        <span class="sep">:</span>
        <span>${[u'불가', u'가능'][board_info.bWrite]}</span>
    </div>

    <div class="heading">게시판 설명</div>
    <!-- 한줄 설명 -->
    <div id="row">
        <div class="left-container">한줄 설명</div>
        <span class="sep">:</span>
        <span>${board_info.bDescription}</span>
    </div>

    <!-- 한바닥 설명 -->
    <div id="row">
        <div class="left-container">한 바닥 설명</div>
        <span class="sep">:</span>
        <div style="border: solid 1px lightgray; margin-left:9em">
            <span style="font-size: 0.9em">${util.format(board_info.bInformation)}</span>
        </div>
    </div>
</div>

<div style="height: 10px"></div>
</form>
