<%inherit file="base.html" />
<h2>개발자 정보</h2>
<ul>
    <li>PM / 개발: 박신조 (전기 및 전자공학과 '08)</li>
    <li>조언 및 갈굼: 강성훈 (전산학과 '10), 유지현(원자력 및 양자공학과 '07), 도우진(전산학과 '07)</li>
    <li>제작 협조: KAIST 전산학과 회장단, Noah3K 설문 조사에 참여해 주신 여러분</li>
</ul>

<h2>버전 정보</h2>
Noah 3.2010.35-1 <a href="http://ko.wikipedia.org/wiki/%EC%97%90%EC%8A%A4%ED%8F%AC">"Espoo"</a>/Open Beta

<h2>개선 사항</h2>
<ul>
    <li>BBCode 포매팅 도입.</li>
    <li>다중 첨부 파일 기능 구현.</li>
    <li>모바일 노아의 첫 버전 공개.</li>
    <li>삭제 작업 시 확인 대화상자 표시.</li>
    <li>회원 가입/탈퇴 구현.</li>
    <li>즐겨찾기 피드 구현.</li>
    <li>기타 잔버그 수정.</li>
</ul>

<h2>과거 버전</h2>
Noah 3.2010.34-2 <a href="http://en.wikipedia.org/wiki/Drammen">"Drammen"</a>
<ul>
    <li>사용자 정보 보기 및 수정 가능.</li>
    <li>사이드바에 정보 출력 시작.</li>
    <li>즐겨찾는 보드 탐색 가능.</li>
    <li>간단한 에러 처리 구현.</li>
</ul>

Noah 3.2010.34-1 <a href="http://ko.wikipedia.org/wiki/%EC%BD%94%ED%8E%9C%ED%95%98%EA%B2%90">"Copenhagen"</a>
<ul>
    <li>게시판 추가, 삭제, 정보 수정 구현.</li>
    <li>간단한 리팩토링 및 에러 처리 구현.</li>
</ul>

Noah 3.2010.32-1 <a href="http://en.wikipedia.org/wiki/Boden,_Sweden">"Boden"</a>
<ul>
    <li>게시판 기능 구현: 수정, 삭제, 답글, 댓글, 피드</li>
</ul>

Noah 3.2010.15-1 <a href="http://ko.wikipedia.org/wiki/%EC%95%8C%EB%A6%AC%EC%B9%B8%ED%85%8C">"Alicante"</a>
<ul>
    <li>처음으로 무언가가 되는 버전</li>
    <li>앞으로 붙는 코드네임: A부터 시작하는 도시 이름</li>
    <li>버전 정보의 뜻: a.bbbb.cc-d</li>
    <ul>
        <li>a - 메이저 버전. Noah3K에서는 무조건 3.</li>
        <li>bbbb - 릴리즈 년도</li>
        <li>cc - 릴리즈 주차</li>
        <li>d - 주차 내 릴리즈 순서</li>
    </ul>
</ul>

