<%inherit file="base.html" />
<h2>버전 정보</h2>
Noah 3.2010.34-2 "Drammen"

<h2>개선 사항</h2>
<ul>
    <li>사용자 정보 보기 및 수정 가능.</li>
    <li>사이드바에 정보 출력 시작.</li>
    <li>즐겨찾는 보드 탐색 가능.</li>
    <li>간단한 에러 처리 구현.</li>
</ul>

<h2>과거 버전</h2>
Noah 3.2010.34-1 "Copenhagen"
<ul>
    <li>게시판 추가, 삭제, 정보 수정 구현.</li>
    <li>간단한 리팩토링 및 에러 처리 구현.</li>
</ul>
Noah 3.2010.32-1 "Boden"
<ul>
    <li>게시판 기능 구현: 수정, 삭제, 답글, 댓글, 피드</li>
</ul>

Noah 3.2010.15-1 "Alicante"
<ul>
    <li>처음으로 무언가가 되는 버전</li>
    <li>앞으로 붙는 코드네임: A부터 시작하는 도시 이름</li>
</ul>


