<% from web import ctx
from i18n import custom_gettext as _ %>
<%inherit file="base_mail.html" />
<h1>${_('Write Private Message')}</h1>
<form name="write_form" method="post" action="/+u/${ctx.session.username}/+write_message">
<div id="row">
    <div class="left-container">${_('To')}</div>
    <span class="sep">:</span>
% if mail_receiver is UNDEFINED:
    <input name="id" type="text" style="font-size: 0.9em; width: 160px; height: 1.6em" />
% else:
    <input name="id" type="text" style="font-size: 0.9em; width: 160px; height: 1.6em" value="${mail_receiver}"/>
% endif
</div>

<div id="row">
    <div class="left-container">${_('Title')}</div>
    <span class="sep">:</span>
% if mail_title is UNDEFINED:
<input name="title" type="text" maxlength="255" style="font-size: 0.9em; width: 500px; height: 1.6em" />
% else:
<input name="title" type="text" maxlength="255" style="font-size: 0.9em; width: 500px; height: 1.6em" value="${mail_title}" />
% endif
</div>

<div id="row">
    <div class="left-container">${_('Content')}</div>
    <span class="sep">:</span>
    <textarea name="body" style="font-size: 0.9em; width: 550px; height: 360px">
% if mail_body is not UNDEFINED:
${mail_body}
% endif
    </textarea>
</div>

<div style="text-align: right; width: 52em;">
    <input type="submit" name="Submit" value="${_('Write Message')}" />
    <input type="button" value="${_('Go Back')}" onclick="history.back()" />
</div>
</form>
