<%inherit file="base.html" />
<% from i18n import custom_gettext as _ %>
<%! scripts = ['/static/scripts/jquery-multifile.js'] %>
<p>${action_name}</p>

<form enctype="multipart/form-data" method="POST" action="/${board_path}/+${action}">
<div class="row">
    <div class="left-container">${_('Title')}</div>
    <span class="sep">:</span>
    <input id="editor_title" name="title" tabindex="1" type="text" maxlength="255" style="font-size: 0.9em; width: 500px; height: 1.6em" \
%if article_title is not UNDEFINED:
	value="${article_title}"\
%endif
    />
</div>

<div class="row">
    <div class="left-container">${_('Content')}<br /><a href="/+help/editor#bbcode" target="_blank">${_('(BBCode Help)')}</a></div>
    <span class="sep">:</span>
<textarea name="content" tabindex="2" style="font-size: 0.9em; width: 550px; height: 360px" >
%if body is not UNDEFINED:
${body}
%endif
</textarea>
</div>
%if attachment is not UNDEFINED:
<% i = 1 %>
%for a in attachment:
<div class="row">
    <div class="left-container">${_('Attachment %s' % i)}</div>
    <span class="sep">:</span>
    <span>${a.decode('utf-8')} <input name="delete" type="checkbox" value="${a.decode('utf-8')}" /> ${_('Delete')}</span>
</div>
<% i = i + 1 %>
% endfor
% endif

<div class="row">
    <div class="left-container">${_('Attachment')}</div>
    <span class="sep">:</span>
    <input name="new_attachment" tabindex="3" class="multi" type="file" />
</div>

%if action_name == _('Modify article'):
<div class="row">
	<div class="left-container">${_("MARK_AS_UNREADED")}</div>
	<input type="checkbox" tabindex="4" name="unreaded" value="True"/>
</div>
%endif

<div style="text-align: right; width: 52em;">
    <input type="submit" tabindex="5" name="ok" value="${_('Submit')}">
    <input type="button" tabindex="6" value="${_('Go Back')}" onclick="history.back()">
</div>
</form>

<script type="text/javascript">
    $("#editor_title").focus();
</script>
