<div id="logo">
    <a href="/"><img src="/static/image/logo.png" border="0" /></a>
</div>

<div id="menu">
    <ul>
        ## 로그인을 비롯한 다른 버튼들을 여기로.
% if session.has_key('uid'):
        <li><a class="button" href="/+logout">로그아웃</a></li>
% else:
        <li><a class="button" href="/+join">회원 가입</a></li>
        <li><a class="button" href="/+login">로그인</a></li>
% endif
    </ul>
    <div id="shortcut">
        <form name="shortcut" method="get" action="/+goto">
            <input name="keyword" type="text" maxlength="24" style="width: 8em; height: 1.5em">
            <input type="submit" value="바로가기">
        </form>
    </div>
</div>

<div id="services">
</div>

## 보드 설명
<div id="title">
%if board_path is UNDEFINED:
    <a href="#">${board_desc}</a>
%elif board_path is "":
    <a href="#">${board_desc}</a>
%else:
    <a href="/${board_path}/+cover">${board_desc}</a>
%endif
</div>

## 자식 보드
<div id="histnav">
    <a class="dirlink" href="/">게시판</a>
</div>
