<% import util %><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko">
<head>
    <title>도움말: ${help_context} - Noah3K</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style/help.css">
</head>
<body>
    <h1>노아 도움말</h1>
    <%include file="help/${help_context}.html" />
    <p style="text-align: right;"><a class="servicelink" href="#" onclick="javascript:self.close();">이 창 닫기</a></p>
</body>
</html>
