<%inherit file="base.html" />
<% from i18n import custom_gettext as _ %>
<div style="border: 1px solid #C0C0C0; padding:15px; margin: 20px 0 20px 0; width: 33em; font-size: 10pt; font-family: monospace;">
    노아에 새 아이디를 만듭니다.<br />
    노아는 KAIST 전산학과는 물론 KAIST 모든 구성원들에게 자유롭게 열려 있습니다.<br />

    노아는 개인 정보를 BBS 운영 이외의 목적에 사용하지 않습니다.<br />
    다음의 항목들을 정확하게 기입하여 주십시오.<br />
    * 표시가 된 항목은 필수 항목입니다.
</div>

<form action="+join" method="post">
<table class="prop_table">
    <col style="width: 10em;" />
    <col />
    <tr>
        <th>ID*</th>
        <td><input class="flat_input" name="id" type="text" maxlength="12" style="width: 12em" /></td>
    </tr>
    <tr>
        <th>${_('Password')} (6자 이상)*</th>
        <td><input class="flat_input" name="password1" type="password" style="width: 12em" /></td>
    </tr>
    <tr>
        <th>${_('Repeat Password')}*</th>
        <td><input class="flat_input" name="password2" type="password" style="width: 12em" /></td>
    </tr>
    <tr> <td colspan="2"> <hr /></td> </tr>
    <tr>
        <th>${_('Nickname')}</th>
        <td><input class="flat_input"name="nick" type="text" maxlength="16" style="width: 12em" /></td>
    </tr>
    <tr>
        <th>${_('E-Mail')}</th>
        <td><input class="flat_input"name="email" type="text" style="width: 12em" /></td>
    </tr>
    <tr> <td colspan="2"> <hr /></td> </tr>
    <tr>
        <td colspan="2">
        <script type="text/javascript"
           src="http://www.google.com/recaptcha/api/challenge?k=6LeiJb4SAAAAAP7gvPt83GUXLHsv9WDzz61yDFvL">
        </script>
        <noscript>
           <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LeiJb4SAAAAAP7gvPt83GUXLHsv9WDzz61yDFvL"
               height="300" width="500" frameborder="0"></iframe><br>
           <textarea name="recaptcha_challenge_field" rows="3" cols="40">
           </textarea>
           <input type="hidden" name="recaptcha_response_field"
               value="manual_challenge">
        </noscript>
        </td>
    </tr>
    <tr> <td colspan="2"> <hr /></td> </tr>
    <tr class="final_buttons">
        <td colspan="2">
            <input class="button" type="submit" name="ok" value="${_('Join')}">
            <input class="button" type="submit" name="cancel" value="${_('Cancel')}">
            <input type="hidden" name="referer" value="${referer}">
        </td>
    </tr>
</table>
</form>

