<% from i18n import custom_gettext as _ 
import util
import reldates, util %><%inherit file="base.html" />
<table cellpadding="5px">
    <tr>
        <td width="50%">
            <span style="font-size: 1.4em; font-weight: bold;"><a style="color: #000; text-decoration: none;" href="${util.link(notice_board_path)}">${_('Department Notice')}</a></span>
<!-- 학과 공지 -->
<table border="0" cellspacing="0" cellpadding="4" style="margin-bottom: 0px" class="list">
    <tr align="center" class="head">
        <th>${_('Title')}</th>
        <th style="width:100px;">${_('Date')}</th>
    </tr>
    <% i = 1 %>
    ${put_article(notice_articles, i, notice_board_path)}
</table>
        </td>
        <td>
        <span style="font-size: 1.4em; font-weight: bold;"><a style="color: #000; text-decoration: none;" href="${util.link(student_notice_board_path)}">${_('Student Notice')}</a></span>
<!-- 학생 공지 -->
<table border="0" cellspacing="0" cellpadding="4" style="margin-bottom: 0px" class="list">
    <tr align="center" class="head">
        <th>${_('Title')}</th>
        <th style="width:100px;">${_('Date')}</th>
    </tr>
    <% i = 1 %>
    ${put_article(student_notice_articles, i, student_notice_board_path)}
</table>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <span style="font-size: 1.4em; font-weight: bold;"><a style="color: #000; text-decoration: none;" href="${util.link(freeboard_path)}">${_('Free Board')}</a></span>
<!-- garbage -->
<table border="0" cellspacing="0" cellpadding="4" style="margin-bottom: 0px" class="list">
    <tr align="center" class="head">
        <th>${_('Title')}</th>
        <th style="width:100px;">${_('Date')}</th>
    </tr>
    <% i = 1 %>
    ${put_article(freeboard_articles, i, freeboard_path)}
</table>
        </td>
        <td>
        <span style="font-size: 1.4em; font-weight: bold;"><a style="color: #000; text-decoration: none;" href="${util.link(undergraduate_path)}">${_('Friends')}: ${_('Undergraduate')}</a></span>
<!-- 학부 친목보드 -->
<table border="0" cellspacing="0" cellpadding="4" style="margin-bottom: 0px" class="list">
    <tr align="center" class="head">
        <th>${_('Title')}</th>
        <th style="width:100px;">${_('Date')}</th>
    </tr>
    <% i = 1 %>
    ${put_article(undergraduate_articles, i, undergraduate_path)}
</table>
        </td>
    </tr>
</table>

<table class="mainmenu_table">
    <col width="50%"/>
    <col />
    <tr>
        <td>
            <div class="mainmenu"><img src="/static/image/courses.png" alt="Courses" /></div>
            <h2>${_('Courses')}</h2>
            <ul>
                <li><a href="/course">${_('Current Courses')}</a></li>
                <li><a href="/OldCourse">${_('Old Courses')}</a></li>
            </ul>
        </td>
        <td>
            <div class="mainmenu"><img src="/static/image/department.png" alt="Department" /></div>
            <h2><a href="/divisionCS">${_('Department')}</a></h2>
            <ul>
                <li><a href="/divisionCS/HowAbout">${_('To Dept.')}</a></li>
                <li><a href="/divisionCS/EastOfEden">${_('EVE Room')}</a></li>
                <li><a href="/divisionCS/JobOffer">${_('Job Offer')}</a></li>
                <li>${_('Friends')}: <a href="/divisionCS/undergraduate">${_('Undergraduate')}</a> / <a href="/divisionCS/master">${_('Master')}</a>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <div class="mainmenu"><img src="/static/image/community.png" alt="Community" /></div>
            <h2>${_('Community')}</h2>
            <ul>
                <li><a href="/garbage">${_('Free Board')}</a></li>
                <li><a href="/tips">${_('Tips')}</a>, <a href="/QandA">${_('Q&amp;A')}</a></li>
                <li><a href="/Circle">${_('Club Room')}</a></li>
                <li>${_('Personal Boards')}: <a href="/ant">ant</a>, <a href="/boa">boa</a>, <a href="/elf">elf</a>, <a href="/hat">hat</a>, <a href="/writers">writers</a></li>
            </ul>
        </td>
        <td>
            <div class="mainmenu"><img src="/static/image/tosysop.png" alt="Administration" /></div>
            <h2><a href="/noah">${_('Administration')}</a></h2>
            <ul>
                <li><a href="/oldBoard">${_('Old Boards')}</a></li>
                <li><a href="/oldWriters">${_('Old Personal Boards')}</a></li>
                <li><a href="/noah/welcome">${_('System Notice')}</a></li>
                <li><a href="/noah/ToSysop">${_('To Administrator')}</a>: ${_('New Boards, System Error, Other Inquries')}</li>
            </ul>
        </td>
    </tr>
</table>
<h2>${_('Advertisement')}</h2>
<div class="advertisement">
<% banner = util.choose_banner() %>
    <a href="${banner[1]}"><img src="/static/banner/${banner[0]}" /></a>
</div>

<div class="othertools">
    <div style="float: right; text-align: center;" >
        <a class="plainlink" href="/m"><img border="0" src="/static/image/qrcode.png" alt="${_('NOAH Mobile')}"/></a><br />
    </div>
    <ul style="padding-top: 6px;">
        <li><a href="/m"><img src="/static/image/mobile.png" alt="Platform Independent" /> ${_('NOAH Mobile')}</a></li>
        <li><a href="https://chrome.google.com/extensions/detail/bjoicbmcfflnbgofdlhiaplakhmiendc?hl=en"><img src="/static/image/chrome.png" alt="Google Chrome"/> ${_('NOAH Notifier for Chrome')}</a></li>
        <li><a href="market://search?q=org.haje.noah"><img src="/static/image/android.png" alt="Android" /> ${_('NOAH Notifier for Android')}</a></li>
    </ul>
</div>


<%def name="put_article(articles, i, board_path)">
% for a in articles:
% if i%2 == 0:
        <tr class="even">
% else:
        <tr class="odd">
% endif
        <% i = i + 1 %>
            <!-- 제목 --> 
            <td>
            <div class="main_notice">
%if a.aLevel > 0:
            <img src="/static/image/thread.png" alt="thread" style="margin-left: ${8 + 24 * (a.aLevel-1)}px" />
%endif
            <a href="${util.link('%s/+read/%s' % (board_path, a.aSerial))}" class="articlelink">${a.aTitle|h}
% if a.comment_count > 0:
            <span class="commentCount">[${a.comment_count}]</span>
% endif
            </a>
            </div>
            </td>
            <!-- 날짜 -->
            <td align="center"><span title="${a.aDatetime.strftime('%Y-%m-%d')}">${_('%s ago') % reldates.timesince(a.aDatetime)}</span></td>
        </tr>
% endfor
</%def>
