<%inherit file="base.html" />
<% from i18n import custom_gettext as _
import user as user_
from web import ctx
import util, config %>
<form name="modify_form" enctype="multipart/form-data" method="post" action="/+u/+modify">
<table class="prop_table">
    <col style="width: 10em;" />
    <col />
    <tr>
        <th>ID</th>
        <td>${user.uId}</td>
    </tr>
    <tr>
        <th>${_('Nickname')}</th>
        <td><input class="flat_input" name="nick" type="text" maxlength="16" style="width: 12em" value="${user.uNick}" /></td>
    </tr>
    <tr>
        <th>${_('E-Mail')}</th>
        <td><input class="flat_input" name="email" type="text" maxlength="64" style="width: 12em" value="${user.uEmail}" /></td>
    </tr>
    <tr>
        <th>${_('Website')}</th>
        <td><input class="flat_input" name="homepage" type="text" maxlength="64" style="width: 12em" value="${user.uHomepage}" /></td>
    </tr>
    <tr>
        <th>${_('Language')}</th>
        <td><select name="language"style="width: 12em">
% for o in util.get_lang_map().keys():
    % if o == user.language:
            <option value="${o}" selected="selected">${util.lang_map[o]}</option>
    % else:
            <option value="${o}">${util.lang_map[o]}</option>
    % endif
% endfor
        </select></td>
    </tr>
    <tr>
        <th>${_('Profile Image')}<br/><span class="miner">${config.pi_size[0]} x ${config.pi_size[1]}</span></th>
        <td><input name="profile_image" type="file" /><input name="delete_profile_image" id="delete_profile_image" type="checkbox" value="True" />
        <label for="delete_profile_image">${_('Delete')}</label></td>
    </tr>
    <tr> <td colspan="2"> <hr /></td> </tr>
    <!-- 암호 수정 -->
    <tr>
        <th>${_('Current Password')}</th>
        <td><input class="flat_input" name="oldpass" type="password" style="width: 12em"></td>
    </tr>
    <tr>
        <th>${_('New Password')}</th>
        <td><input class="flat_input" name="newpass1" type="password" style="width: 12em"></td>
    </tr>
    <tr>
        <th>${_('Repeat Password')}</th>
        <td><input class="flat_input" name="newpass2" type="password" style="width: 12em"></td>
    </tr>
    <tr> <td colspan="2"> <hr /></td> </tr>
    <tr>
        <th>${_('Signature')}</th>
        <td>
        <textarea class="flat_input" name="sig" style="font-size: 0.9em; width: 500px; height: 100px">${user.uSig}</textarea>
        </td>
    </tr>
    <tr>
        <th>${_('Introduction')}</th>
        <td>
        <textarea class="flat_input" name="introduction" style="font-size: 0.9em; width: 500px; height: 100px">${user.uPlan}</textarea>
    </td>
    </tr>
<!-- 완료/취소 버튼 -->			
    <tr class="final_buttons">
        <td colspan="2">
            <input class="button" type="submit" name="ok" value="${_('Submit')}" />
            <input class="button" type="submit" name="cancel" value="${_('Cancel')}" />
            <input type="hidden" name="referer" value="${referer}" />
        </td>
    </tr>
</table>
</form>
