<%inherit file="base.html" />
<% from i18n import custom_gettext as _
import util %>
<form name="modify_form" method="post" action="/+u/${username}/+modify">
<div style="width: 640px">
    <div class="heading">${_('Personal Information')}</div>
    <div id="row">
        <div class="left-container">ID</div>
        <span class="sep">:</span>
        <span>${user.uId}</span>
    </div>
    <div id="row">
        <div class="left-container">${_('Nickname')}</div>
        <span class="sep">:</span>
        <span><input name="nick" type="text" maxlength="16" style="width: 12em" value="${user.uNick}" /></span>
    </div>
    <div id="row">
        <div class="left-container">${_('E-Mail')}</div>
        <span class="sep">:</span>
        <span><input name="email" type="text" maxlength="64" style="width: 12em" value="${user.uEmail}" /></span>
    </div>
    <div id="row">
        <div class="left-container">${_('Website')}</div>
        <span class="sep">:</span>
        <span><input name="homepage" type="text" maxlength="64" style="width: 12em" value="${user.uHomepage}" /></span>
    </div>
    <div id="row">
        <div class="left-container">${_('Language')}</div>
        <span class="sep">:</span>
        <span><select name="language"style="width: 12em">
% for o in util.get_lang_map().keys():
    % if o == user.language:
            <option value="${o}" selected="selected">${util.lang_map[o]}</option>
    % else:
            <option value="${o}">${util.lang_map[o]}</option>
    % endif
% endfor
        </select></span>
    </div>
    <!-- 비밀번호 수정 -->
    <div class="heading">${_('Password')}</div>
    <div id="row">
        <div class="left-container">${_('Current Password')}</div>
        <span class="sep">:</span>
        <span><input name="oldpass" type="password" style="width: 12em"></span>
    </div>
    <div id="row">
        <div class="left-container">${_('New Password')}</div>
        <span class="sep">:</span>
        <span><input name="newpass1" type="password" style="width: 12em"></span>
    </div>
    <div id="row">
        <div class="left-container">${_('Repeat Password')}</div>
        <span class="sep">:</span>
        <span><input name="newpass2" type="password" style="width: 12em"></span>
    </div>
    <div class="heading">${_('Signature')}</div>
    <div id="row">
        <div class="left-container">${_('Signature')}</div>
        <span class="sep">:</span>
        <textarea name="sig" style="font-size: 0.9em; width: 500px; height: 100px">${user.uSig}</textarea>
    </div>
    <div class="heading">${_('Introduction')}</div>
    <div id="row">
        <div class="left-container">${_('Introduction')}</div>
        <span class="sep">:</span>
        <textarea name="introduction" style="font-size: 0.9em; width: 500px; height: 100px">${user.uPlan}</textarea>
    </div>
<!-- 완료/취소 버튼 -->			
<div>
    <input type="submit" name="ok" value="${_('Submit')}" style="margin: 6px" />
    <input type="submit" name="cancel" value="${_('Cancel')}" style="margin: 6px" />
    <input type="hidden" name="referer" value="${referer}" />
</div>


</div>
</form>
