<% import user as user_ 
import util
from web import ctx
from i18n import custom_gettext as _ %>
<%inherit file="base.html" />
<table class="prop_table">
    <col style="width: 12em;" />
    <col />
    <tr>
        <th>ID</th>
        <td>${user.uId}</td>
    </tr>
    <tr>
        <th>${_('Nickname')}</th>
%if user.uNick is UNDEFINED or user.uNick.strip() == '':
        <td class="none">${_('None')}</td>
% else:
        <td>${user.uNick}</td>
% endif
    </tr>
    <tr>
        <th>${_('E-Mail')}</th>
%if user.uEmail is UNDEFINED or user.uEmail.strip() == '':
        <td class="none">${_('None')}</td>
% else:
        <td>${user.uEmail}</td>
% endif
    </tr>
    <tr>
        <th>${_('Website')}</th>
%if user.uHomepage is UNDEFINED or user.uHomepage.strip() == '':
        <td class="none">${_('None')}</td>
%else:
        <td>${user.uHomepage}</td>
% endif
    </tr>
    <tr>
        <th>${_('Signature')}</th>
        <td class="small">
            <!--<div style="border: solid 1px lightgray; margin-left:9em"> -->
%if user.uSig is UNDEFINED or user.uSig.strip() == '':
            <span class="none">${_('None')}</span>
% else:
            ${util.format(user.uSig)}
% endif
        </td>
    </tr>
    <tr>
        <th>${_('Introduction')}</th>
        <td class="small">
%if user.uPlan is UNDEFINED or user.uPlan.strip() == '':
            <span class="none">${_('None')}</span>
% else:
            ${util.format(user.uPlan)}
% endif
        </td>
    <tr>
        <th>${_('Language')}</th>
        <td>${util.lcode_to_name(user.language)}</td>
    </tr>
    <tr> <td colspan="2"> <hr /></td> </tr>
    <tr>
        <th>${_('Join Date')}</th>
        <td>${user.uDatetime}</td>
    </tr>
    <tr> 
        <th>${_('Login Count')}</th>
        <td>${user.uNumLogin}</td>
    </tr>
    <tr> 
        <th>${_('Posts')}</th>
        <td>${user_.get_post_count(user_id)}</td>
    </tr>
    <tr> 
        <th>${_('_:Count\nComments')}</th>
        <td>${user_.get_comment_count(user_id)}</td>
    </tr>
    <tr> 
        <th>${_('New Article Hit Count')}</th>
        <td>${user.new_article_hit}</td>
    </tr>
    <tr> 
        <th>${_('No New Article Hit Count')}</th>
        <td>${user.new_article_none_hit}</td>
    </tr>
%if ctx.session is not UNDEFINED and ctx.session.has_key('uid'):
    % if ctx.session.uid == 1 or ctx.session.uid == user_id:
    <tr>
        <th>${_('Last Login')}</div>
        %if user.uLastLogin is UNDEFINED:
        <td><span style='color: #aa0000'>${_('Unknown')}</span></td>
        % else:
        <td>${user.uLastLogin}</td>
        % endif
    </tr>
    <tr> 
        <th>${_('Last Login IP')}</th>
        %if user.uLastHost is UNDEFINED or user.uLastHost.strip() == '':
        <td><span style='color: #aa0000'>${_('Unknown')}</span></td>
        % else:
        <td>${user.uLastHost}</td>
        % endif
    </tr>
    <tr> 
        <th>${_('Password Strength')}</div>
        <% password_strength = user_.get_password_strength(user_id) %>
        % if password_strength == 2:
        <td><span style="color: green;">${_('Strong')}</span></td>
        % elif password_strength == 1:
        <td><span style="color: orange;">${_('Normal')} <a style="color: orange;" href="/+u/+modify">${_('(Change password recommended)')}</a></span></td>
        % elif password_strength == 0:
        <td><span style="color: red; font-weight: bold;">${_('Weak')} <a style="color: red;" href="/+u/+modify">${_('(Change password NOW)')}</a></span></td>
        % else:
        <td><span style="color: red; font-weight: bold;">${_('Unknown')}</span></td>
        % endif
    </tr>
    % endif
% endif
    <tr class="final_buttons">
        <td colspan="2">
    <a class="button" href="${util.link('/+u/+my_posts')}">${_('My Posts')}</a>
    <a class="button" href="${util.link('/+u/+modify')}">${_('Modify')}</a>
    <a class="button" href="${util.link('/+u/+leave')}">${_('Leave NOAH')}</a>
        </td>
    </tr>
</table>
