<%inherit file="base_mail.html" />
<% import util, user, config
from web import ctx
def get_formatted_username(uid):
    u = user.get_user(uid)
    if u[0]:
        return "%(id)s (%(nick)s)" % {'id': u[1]['uId'], 'nick': u[1]['uNick']}
    else:
        return u"탈퇴한 회원"
%>
<h1>메시지 보기</h1>
% if mail is UNDEFINED:
내부 오류. 메시지가 지정되지 않았습니다.
<% return %>
% endif
<div id="row">
    <div class="left-container">제목</div>
    <span class="sep">:</span>
    <span id="title">${mail.mTitle}</span>
</div>
<div id="row">
    <div class="left-container">보낸 사람</div>
    <span class="sep">:</span>
    <span id="writer">${get_formatted_username(mail.mSenderSerial)}</span>
</div>
<div id="row">
    <div class="left-container">시간</div>
    <span class="sep">:</span>
    <span id="writetime">${mail.mDatetime.strftime('%Y-%m-%d %H:%M:%S')}</span>
</div>
<div id="content">
${util.format(mail.mContent)}
</div>
<!-- 버튼: 목록/편지쓰기/답장/삭제 -->
<div class="menu">
<ul>
    <!-- 목록 -->
    <li><a class="button" href="/+u/${ctx.session.username}/+inbox">목록</a></li>
    <!-- 답장 쓰기 -->
    <li><a class="button" href="/+u/${ctx.session.username}/+reply_message?message_id=${mail.mSerial}">답장</a></li>
    <!-- 편지 쓰기 -->	
    <li><a class="button" href="/+u/${ctx.session.username}/+write_message">편지쓰기</a></li>
    <!-- 삭제 --> 
    <li><a class="button" href="/+u/${ctx.session.username}/+delete_message?message_id=${mail.mSerial}">삭제</a></li>
</ul>
</div>
<br />
