<%inherit file="base.html" />
<%
import user, config, util, board, acl, reldates
import urllib, posixpath
import article as A
from web import ctx
import attachment as A_
from i18n import custom_gettext as _
def get_formatted_username(uid):
    u = user.get_user(uid)
    if u[0]:
        url = util.link("/+u/%s" % u[1]['uId'])
        return '<a class=\"articlelink\" href=\"%(url)s">%(id)s (%(nick)s)</a>' % {'url':url, 'id': u[1]['uId'], 'nick':u[1]['uNick']}
    else:
        return _("Former Member")
%>

<style>
${stylesheet}
</style>

<div>
% if board.get_board_info(board._get_board_id_from_path('/%s' % board_path)).show_avatar:
<div class="avatar_body">
    %if user.has_profile_image(article['uSerial']):
    <img src="${posixpath.join(config.pi_web_path, '%s.png' % article['uSerial'])}" class="avatar_large" alt="Avatar" />
    % else:
    <img src="/static/image/no_avatar.png" class="avatar_large" alt="Avatar" />
    % endif
</div>
% endif
% if A.get_mark_status(article['aSerial']):
<span class="title"><span class="emphasized">${article['aTitle']}</span></span>
% else:
<span class="title">${article['aTitle']}</span>
% endif
&nbsp;&nbsp;&nbsp;${get_formatted_username(article['uSerial'])}</p>
<p style="font-family: monospace;" class="small">${_('Written on %s') % article['aDatetime']}
% if article.aEditedDatetime:
<br />${_('Modified on %s') % article['aEditedDatetime']}
% endif
</p>
% if attachment is not UNDEFINED:
    %if len(attachment) > 0:
${_('Attachment')}:
    % for a in attachment:
        <span class="attachment"><a class="filelink" href="${config.attachment_web_path}${article['aSerial']}/${urllib.quote(a[1])}">${a[1].decode('utf-8')}</a> (${A_.format_file_size(A_.get_attachment_size(article['aSerial'], a[1]))})</span>
    % endfor 
% endif
% endif

    <div id="content">
% if thumbnail is not UNDEFINED:
    % for t in thumbnail:
        <div class="image">
            (${t[1].decode('utf-8')})<br />
            <a href="${config.attachment_web_path}${article['aSerial']}/${urllib.quote(t[1])}" target="_blank"><img class="image" src="${config.thumbnail_desktop_web_path}${article['aSerial']}/${urllib.quote(t[1])}" /></a>
        </div>
    % endfor
% endif
${util.format(article['aContent'])}
    </div>
    <!-- 이전글/다음글 -->
    <div class="article-link">
% if prev_id > 0:
    <a class="articlelink prev-article" href="${util.link('/%s/+read/%s' % (board_path, prev_id))}">&lt;&nbsp;${A.get_title(prev_id)}</a> 
% endif
% if next_id > 0:
    <a class="articlelink next-article" href="${util.link('/%s/+read/%s' % (board_path, next_id))}">${A.get_title(next_id)}&nbsp;&gt;</a> 
% else:
    <a class="articlelink next-article" href="#">&nbsp;</a> 
% endif
    </div>
% if acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), 1, 'comment'):
    <!-- 코멘트 -->
    <div id="comment">
        <div id="list">
                <table border="0" cellspacing="2px" cellpadding="6px" style="width: 100%">
    % if comments:
        % for comment in comments:
                    <tr>
% if board.get_board_info(board._get_board_id_from_path('/%s' % board_path)).show_avatar:
                        <td class="avatar">
    %if user.has_profile_image(comment['uSerial']):
    <img src="${posixpath.join(config.pi_web_path, '%s.png' % comment['uSerial'])}" class="avatar_small" alt="Avatar" />
    % else:
    <img src="/static/image/no_avatar.png" class="avatar_small" alt="Avatar" />
    % endif
                        </td>
% endif
                        <td class="writer">
% if comment['uNick'] == '' or comment['uNick'] == comment['cId']:
<b class="major">${comment['cId']}</b>
% else:
<b class="major">${comment['cId']}</b><br /><b>${comment['uNick']}</b>
% endif
<br /><span title="${comment['cDatetime']}">(${_('%s ago') % reldates.timesince(comment['cDatetime'])})</span>
                        </td>
                        <td class="content">${util.format(comment['cContent'])}
            %if ctx.session.has_key('uid') and ctx.session.uid == comment['uSerial']:
                        <a style="font-size: 0.9em;" href="${util.link('/%s/+comment_delete/%s' % (board_path, comment['cSerial']))}">(${_('Delete')})</a>
                        </td>
            % endif
                    </tr>
        % endfor
    % endif
                </table>
        </div>

        <div id="input">
    % if not ctx.session.has_key('uid'):
            ${_('To post commment, please <a href="%s">log in</a>' % util.link("/+login"))}
    % else:
            <form name="comment" method="post" action="${util.link('/%s/+comment/%s' % (board_path, article['aSerial']))}">
                ${_('Write Comment')}
                <input class="flat_input" id="read_article_comment" name="comment" type="text" maxlength="255" style="width: 30em">
                <input class="button" type="submit" name="Submit" value="${_('Submit')}">
            </form>
    % endif
        </div>

    </div> <!-- end of comment -->
% endif

<!-- 버튼: 목록/글쓰기/답글/메일답신/수정/삭제 -->
    <div id="menu">
        <ul>
    % if page_no is UNDEFINED:
            <li> <a class="button" href="${util.link('/%s' % board_path)}">${_('List')}</a></li>
    % else:
            <li> <a class="button" href="${util.link('/%s?page=%s' % (board_path, page_no))}">${_('List')}</a></li>
    % endif
    %if ctx.session.has_key('uid') and acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), ctx.session.uid, 'write'):
            <!-- 쓰기 권한 -->	
            <li><a class="button" href="${util.link('/%s/+write' % (board_path))}">${_('Write')}</a></li>
            <li><a class="button" href="${util.link('/%s/+reply/%s' % (board_path, article['aSerial']))}">${_('Reply')}</a></li>
    % endif
    %if ctx.session.has_key('uid') and acl.is_allowed('article', article.aSerial, ctx.session.uid, 'modify'):
            <!-- 로그인 --> 
            <li><a class="button" href="${util.link('/%s/+modify/%s' % (board_path, article['aSerial']))}">${_('Modify')}</a></li>
    % endif
    %if ctx.session.has_key('uid') and acl.is_allowed('article', article.aSerial, ctx.session.uid, 'delete'):
            <!-- 삭제 권한 --> 
            <li><a class="button" href="${util.link('/%s/+delete/%s' % (board_path, article['aSerial']))}">${_('Delete')}</a></li>
    % endif
    %if ctx.session.has_key('uid') and acl.is_allowed('board', article.bSerial, ctx.session.uid, 'mark'):
        % if A.get_mark_status(article['aSerial']):
            <!-- 강조 권한 --> 
            <li><a class="button" href="${util.link('/%s/+unmark/%s' % (board_path, article['aSerial']))}">${_('Unmark')}</a></li>
        % else:
            <li><a class="button" href="${util.link('/%s/+mark/%s' % (board_path, article['aSerial']))}">${_('Mark')}</a></li>
        % endif
    % endif
        </ul>

    </div> <!-- end of menu -->
</div> <!-- end of article -->
