<%inherit file="base.html" />
<%
import user
from pygments import highlight
from pygments.lexers import BBCodeLexer
from pygments.formatters import HtmlFormatter
def get_formatted_username(uid):
    u = user.get_user(uid)[1]
    return "%(id)s (%(nick)s)" % {'id': u['uId'], 'nick':u['uNick']}

def format(original):
    return highlight(original, BBCodeLexer(), HtmlFormatter())
%>
<div id="article">
    <!-- 글 -->
    <div id="row">
        <div class="left-container">제목</div>
        <span class="sep">:</span>
        <span  id="title">${article['aTitle']}</span>
    </div>
    <div id="row">
        <div class="left-container">글쓴이</div>
        <span class="sep">:</span>
        <span id="writer">${get_formatted_username(article['uSerial'])}</span>
    </div>
    <div id="row">
        <div class="left-container">시간</div>
        <span class="sep">:</span>
        <span id="writetime">${article['aDatetime']}</span>
    </div>
    % if article.aEditedDatetime:
    <div id="row">
        <div class="left-container">수정</div>
        <span class="sep">:</span>
        <span id="edittime">${article['aEditedDatetime']}</span>
    </div>
    % endif

    <div id="content">
${format(article['aContent'])}
    </div>
    <!-- 코멘트 -->
    <div id="comment">
        <div id="list">
            <div class="area">
                <table border="0" cellspacing="0" cellpadding="4" style="width: 100%">
                % if comments:
                % for comment in comments:
                <tr>
                    <td id="writer">${comment['cId']}</td>
                    <td id="content">${comment['cContent']}</td>
                    <td id="writetime">${comment['cDatetime']}</td>
                    <td id="button"><a class="button" href="/${board_path}/+comment_delete/${comment['cSerial']}">삭제</a></td>
                </tr>
                % endfor
                % endif
                </table>
            </div>
        </div>

    <div id="input">
% if not session.has_key('uid'):
    댓글을 쓰시려면 <a href="/+login">로그인</a>을 해주세요
% else:
    <form name="comment" method="post" action="/${board_path}/+comment/${article['aSerial']}">
    댓글 쓰기
    <input name="comment" type="text" maxlength="255" style="width: 30em">
    <input type="submit" name="Submit" value="확인">
    </form>
% endif
    </div>

    </div> <!-- end of comment -->

</div> <!-- end of article -->


<!-- 버튼: 목록/글쓰기/답글/메일답신/수정/삭제 -->
<div id="menu">
    <ul>
        <li> <a class="button" href="/${board_path}">목록</a></li>
% if session.has_key('uid'):
    <!-- 쓰기 권한 -->	
    <li><a class="button" href="/${board_path}/+write">글쓰기</a></li>
    <li><a class="button" href="/${board_path}/+reply/${article['aSerial']}">답글</a></li>
% endif
%if session.has_key('uid') and session.uid == article.uSerial:
    <!-- 로그인 --> 
    <li><a class="button" href="/${board_path}/+modify/${article['aSerial']}">수정</a></li>
    <!-- 삭제 권한 --> 
    <li><a class="button" href="/${board_path}/+delete/${article['aSerial']}">삭제</a></li>
% endif

   <!-- 강조 권한 --> 
    <li><a class="button" href="/${board_path}/+mark/${article['aSerial']}">강조</a></li>
    </ul>

    <!-- 이전글/다음글 -->
    <div id="row">
    <div class="left-container">이전글</div>
    <span class="sep">: </span>
    <span id="title"><a class="articlelink" href="/${board_path}/+read/id-1">이전글 제목</a></span> 
    </div>
    <div id="row">

    <div class="left-container">다음글</div>
    <span class="sep">: </span>
    <span id="title"><a class="articlelink" href="/${board_path}/+read/id+1">다음글 제목</a></span> 
    </div>
</div> <!-- end of menu -->
