<%inherit file="base.html" />
<%
import user, config, util, board, acl
import urllib
import article as A
from web import ctx
import attachment as A_
from i18n import custom_gettext as _
def get_formatted_username(uid):
    u = user.get_user(uid)
    if u[0]:
        return "%(id)s (%(nick)s)" % {'id': u[1]['uId'], 'nick':u[1]['uNick']}
    else:
        return _("Former Member")
%>
<div id="article">
    <!-- 글 -->
    <div id="row">
        <div class="left-container">${_('Title')}</div>
        <span class="sep">:</span>
% if A.get_mark_status(article['aSerial']):
        <span class="emphasized" id="title">${article['aTitle']}</span>
% else:
        <span id="title">${article['aTitle']}</span>
% endif
    </div>
    <div id="row">
        <div class="left-container">${_('Author')}</div>
        <span class="sep">:</span>
        <span id="writer">${get_formatted_username(article['uSerial'])}</span>
    </div>
    <div id="row">
        <div class="left-container">${_('Date/Time')}</div>
        <span class="sep">:</span>
        <span id="writetime">${article['aDatetime']}</span>
    </div>
% if article.aEditedDatetime:
    <div id="row">
        <div class="left-container">${_('Last Modified')}</div>
        <span class="sep">:</span>
        <span id="edittime">${article['aEditedDatetime']}</span>
    </div>
% endif
% if attachment is not UNDEFINED:
    % for a in attachment:
    <div id="row">
        <div class="left-container">${_('Attachment')}</div>
        <span class="sep">:</span>
        <span class="attachment"><a class="filelink" href="${config.attachment_web_path}${article['aSerial']}/${urllib.quote(a)}">${a.decode('utf-8')}</a> (${A_.format_file_size(A_.get_attachment_size(article['aSerial'], a))})</span>
    </div>
    % endfor 
% endif

    <div id="content">
% if thumbnail is not UNDEFINED:
    % for t in thumbnail:
        <div class="image">
            (${t.decode('utf-8')})<br />
            <a href="${config.attachment_web_path}${article['aSerial']}/${urllib.quote(t)}" target="_blank"><img class="image" src="${config.thumbnail_desktop_web_path}${article['aSerial']}/${urllib.quote(t)}" /></a>
        </div>
    % endfor
% endif
${util.format(article['aContent'])}
    </div>
% if acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), 1, 'comment'):
    <!-- 코멘트 -->
    <div id="comment">
        <div id="list">
            <div class="area">
                <table border="0" cellspacing="0" cellpadding="4" style="width: 100%">
    % if comments:
        % for comment in comments:
                    <tr>
                        <td class="writer">${comment['cId']}</td>
                        <td class="content">${util.format(comment['cContent'])}</td>
                        <td class="writetime">${comment['cDatetime']}</td>
            %if ctx.session.has_key('uid') and ctx.session.uid == comment['uSerial']:
                        <td class="button">
                            <a class="button" href="/${board_path}/+comment_delete/${comment['cSerial']}">${_('Delete')}</a>
                        </td>
            % endif
                    </tr>
        % endfor
    % endif
                </table>
            </div>
        </div>

        <div id="input">
    % if not ctx.session.has_key('uid'):
            ${_('To post commment, please <a href="/+login">log in</a>')}
    % else:
            <form name="comment" method="post" action="/${board_path}/+comment/${article['aSerial']}">
                ${_('Write Comment')}
                <input id="read_article_comment" name="comment" type="text" maxlength="255" style="width: 30em">
                <input type="submit" name="Submit" value="${_('Submit')}">
            </form>
	    <script type="text/javascript">
		    $("#read_article_comment").focus();
	    </script>
    % endif
        </div>

    </div> <!-- end of comment -->
% endif

</div> <!-- end of article -->


<!-- 버튼: 목록/글쓰기/답글/메일답신/수정/삭제 -->
<div id="menu">
    <ul>
% if page_no is UNDEFINED:
        <li> <a class="button" href="/${board_path}">${_('List')}</a></li>
% else:
        <li> <a class="button" href="/${board_path}?page=${page_no}">${_('List')}</a></li>
% endif
%if ctx.session.has_key('uid') and acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), ctx.session.uid, 'write'):
        <!-- 쓰기 권한 -->	
        <li><a class="button" href="/${board_path}/+write">${_('Write')}</a></li>
        <li><a class="button" href="/${board_path}/+reply/${article['aSerial']}">${_('Reply')}</a></li>
% endif
%if ctx.session.has_key('uid') and acl.is_allowed('article', article.aSerial, ctx.session.uid, 'modify'):
        <!-- 로그인 --> 
        <li><a class="button" href="/${board_path}/+modify/${article['aSerial']}">${_('Modify')}</a></li>
% endif
%if ctx.session.has_key('uid') and acl.is_allowed('article', article.aSerial, ctx.session.uid, 'delete'):
        <!-- 삭제 권한 --> 
        <li><a class="button" href="/${board_path}/+delete/${article['aSerial']}">${_('Delete')}</a></li>
% endif
%if ctx.session.has_key('uid') and acl.is_allowed('board', article.bSerial, ctx.session.uid, 'mark'):
    % if A.get_mark_status(article['aSerial']):
        <!-- 강조 권한 --> 
        <li><a class="button" href="/${board_path}/+unmark/${article['aSerial']}">${_('Unmark')}</a></li>
    % else:
        <li><a class="button" href="/${board_path}/+mark/${article['aSerial']}">${_('Mark')}</a></li>
    % endif
% endif
    </ul>

    <!-- 이전글/다음글 -->
% if prev_id > 0:
    <div id="row">
        <div class="left-container">${_('Previous Article')}</div>
        <span class="sep">: </span>
        <span id="title"><a class="articlelink" href="/${board_path}/+read/${prev_id}">${A.get_title(prev_id)}</a></span> 
    </div>
% endif
% if next_id > 0:
    <div id="row">
        <div class="left-container">${_('Next Article')}</div>
        <span class="sep">: </span>
        <span id="title"><a class="articlelink" href="/${board_path}/+read/${next_id}">${A.get_title(next_id)}</a></span> 
    </div>
% endif
</div> <!-- end of menu -->
