<% from datetime import datetime
import board, util
def rfc822(dt):
    return "%s, %02d %s %04d %02d:%02d:%02d +0900" % (
        ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"][dt.weekday()],
        dt.day,
        ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"][dt.month-1],
        dt.year, dt.hour, dt.minute, dt.second) %><?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>RSS 피드 - /${board_path}</title>
%if link_address is UNDEFINED:
        <link>http://noah.kaist.ac.kr/${board_path}</link>
        <atom:link href="http://noah.kaist.ac.kr/${board_path}" rel="self" type="application/rss+xml" />
% else:
        <link>${link_address}</link>
        <atom:link href="${link_address}" rel="self" type="application/rss+xml" />
% endif
        <description>${board_desc|x}</description>
        <language>ko-kr</language>
        <pubDate>${rfc822(today)}</pubDate>
        <lastBuildDate>${rfc822(today)}</lastBuildDate>
        <generator>Noah3K</generator>
        <managingEditor>noah@haje.org (HAJE)</managingEditor>
        <webMaster>noah@haje.org (HAJE)</webMaster>

% for article in articles:
        <item>
            <title>${article.aTitle|x}</title>
            <link>http://noah.kaist.ac.kr${board._get_path_from_board_id(article.bSerial)}/+read/${article.aSerial}</link>
            <description>${util.format(article.aContent)|x}</description>
            <pubDate>${rfc822(article.aDatetime)}</pubDate>
            <guid>http://noah.kaist.ac.kr${board._get_path_from_board_id(article.bSerial)}/+read/${article.aSerial}</guid>
        </item>
% endfor
    </channel>
</rss>

