<div class="heading">내 게시판</div>
<ul>
    <li>내꺼</li>
</ul>
<br />

<div class="heading">즐겨찾기</div>
<ul>
        <li>등록된 게시판이 없습니다</li>
</ul>
<br />

<div class="heading">학과</div>
<ul>
    <li>
        <a class="boardlink" href="/">공지</a> / 
        <a class="boardlink" href="/">건의</a> / 
        <a class="boardlink" href="/">과기계실</a>
    </li>
    <li>
        <a class="boardlink" href="/">구인/구직</a> / 
        <a class="boardlink" href="/">스포츠</a> / 
        <a class="boardlink" href="/">입시&amp;랩배정</a>
    </li>
</ul>
<br />

<div class="heading">친목</div>
<ul>		
    <li><span style="color: #3C78B5; font-weight: bold">학부</span></li>
    <li><span style="color: #3C78B5; font-weight: bold">석사</span></li>
</ul>
<br />

<!-- 과목 게시판 -->
<div id="box">
    <div class="heading">
        <span style="color: black">개설 교과목</span>
        <span style="color: black; font-size: 0.9em; font-weight: normal">(예전)</span>
    </div>
    <ul>
        <li>없음</li>
    </ul>
</div>
<br />

