<% from web import ctx
import user, board %>
% if ctx.session.has_key('uid'):
<div class="heading">내 게시판</div>
<ul>
<% not_has_my_board = False %>
% for my_board in user.get_owned_board(ctx.session.uid):
    <li><a class="boardlink" href="${my_board.bName}">\
    % if my_board.bType == 0:
<img class="type" src="/static/image/folder.png" /> \
    % else:
<img class="type" src="/static/image/board.png" /> \
    % endif
    % if my_board.bDescription.strip() == '':
${my_board.bName}\
    % else:
${my_board.bDescription}\
    % endif
</a></li>
    <% not_has_my_board = False %>
% else:
    % if not_has_my_board:
    <li>만든 게시판이 없습니다</li>
    % endif
% endfor
</ul>
<br />

<div class="heading">즐겨찾기 <span style="color: black; font-size:0.9em; font-weight: normal;"><a class="favlink"\
% if board_path is not UNDEFINED:
% if user.is_favorite(ctx.session.uid, board._get_board_id_from_path(board_path)):
 href="/${board_path}/+remove_from_favorites">(삭제)\
% else:
 href="/${board_path}/+add_to_favorites">(추가)\
% endif
% else:
 href="#">(사용할 수 없음)\
% endif
</a></span></div>
<ul>
<% not_has_fav_board = True %>
% for fav_board in user.get_favorite_board(ctx.session.uid):
    <% my_board = board.get_board_info(fav_board.bSerial) %>
    <li><a class="boardlink" href="${my_board.bName}">\
    % if my_board.bType == 0:
<img class="type" src="/static/image/folder.png" /> \
    % else:
<img class="type" src="/static/image/board.png" /> \
    % endif
    % if my_board.bDescription.strip() == '':
${my_board.bName}\
    % else:
${my_board.bDescription}\
    % endif
</a></li>
    <% not_has_fav_board = False %>
% else:
    % if not_has_fav_board:
    <li>등록한 게시판이 없습니다</li>
    % endif
% endfor
</ul>
<br />
% endif

<div class="heading">학과</div>
<ul>
    <li>
        <a class="boardlink" href="/divisionCS/Notice">공지</a> / 
        <a class="boardlink" href="/divisionCS/HowAbout">건의</a> / 
        <a class="boardlink" href="/divisionCS/EastOfEden">과기계실</a>
    </li>
    <li>
        <a class="boardlink" href="/divisionCS/JobOffer">구인/구직</a> / 
        <a class="boardlink" href="/divisionCS/sportsCS">스포츠</a> / 
        <a class="boardlink" href="/divisionCS/entrExamLabAsgn">입시&amp;랩배정</a>
    </li>
</ul>
<br />

<div class="heading">친목</div>
<ul>		
    <li><span style="color: #3C78B5; font-weight: bold">학부</span></li>
    <li><span style="color: #3C78B5; font-weight: bold">석사</span></li>
</ul>
<br />

<!-- 과목 게시판 -->
<div id="box">
    <div class="heading">
        <span style="color: black">개설 교과목</span>
        <span style="color: black; font-size: 0.9em; font-weight: normal"><a href="/OldCourse">(예전)</a></span>
    </div>
    <ul>
<% not_has_subject_board = True %>
% for my_board in board.get_child(board._get_board_id_from_path('/course')):
    <li><a class="boardlink" href="${my_board.bName}">\
    % if my_board.bDescription.strip() == '':
${my_board.bName}\
    % else:
${my_board.bDescription}\
    % endif
</a></li>
    <% not_has_subject_board = False %>
% else:
    % if not_has_subject_board:
    <li>과목 게시판이 없습니다</li>
    % endif
% endfor
    </ul>
</div>
<br />

