<% from web import ctx
import user, board
from datetime import datetime
def get_friend_boards(type):
    friend_list = []
    current_year = datetime.now().year
    while len(friend_list) < 7:
        bdesc_prefix = '%%[%s%02d%%' % (type, current_year % 100)
        result = board.search_board(bdesc_prefix)
        if result:
            friend_list.insert(0, dict(year = '%02d' % (current_year % 100), board = result[0]))
        current_year = current_year - 1
    return friend_list
%>
% if ctx.session.has_key('uid'):
<div class="heading"><a class="plainlink" href="/+u/${ctx.session.username}/+my_board">내 게시판</a>
    <div style="float: right;">
        <span style="color: black; font-size: 0.9em; font-weight: normal;">
            <a class="plainlink" href="#" id="fold_my_boards" onclick="$('#my_boards').toggle();">(접기/펴기)</a>
        </span>
    </div>
</div>
<div id="my_boards" style="display: inline;">
<ul>
<% not_has_my_board = True %>
% for my_board in user.get_owned_board(ctx.session.uid):
    <li><a class="boardlink" href="${my_board.bName}">\
    % if my_board.bType == 0:
<img class="type" src="/static/image/folder.png" /> \
    % else:
<img class="type" src="/static/image/board.png" /> \
    % endif
    % if my_board.bDescription.strip() == '':
${my_board.bName}\
    % else:
${my_board.bDescription}\
    % endif
</a></li>
    <% not_has_my_board = False %>
% else:
    % if not_has_my_board:
    <li>만든 게시판이 없습니다</li>
    % endif
% endfor
</ul>
</div>
<br />

<div class="heading"><a class="plainlink" href="/+u/${ctx.session.username}/+favorites">즐겨찾기</a> <span style="color: black; font-size:0.9em; font-weight: normal;"><a class="favlink"\
% if board_path is not UNDEFINED:
    % if board_path == '':
 href="#">(사용 불가)\
    % elif user.is_favorite(ctx.session.uid, board._get_board_id_from_path(board_path)):
 href="/${board_path}/+remove_from_favorites">(삭제)\
    % else:
 href="/${board_path}/+add_to_favorites">(추가)\
    % endif
% else:
 href="#">(사용 불가)\
% endif
</a></span>
    <div style="float: right;">
        <span style="color: black; font-size: 0.9em; font-weight: normal;">
            <a style="color: black; text-decoration: none;" href="#" id="fold_favorites" onclick="$('#favorites').toggle();">(접기/펴기)</a>
        </span>
    </div>
</div>
<div id="favorites" style="display: inline;">
<ul>
<% not_has_fav_board = True %>
% for fav_board in user.get_favorite_board(ctx.session.uid):
    <% my_board = board.get_board_info(fav_board.bSerial) %>
    <li><a class="boardlink" href="${my_board.bName}">\
    % if my_board.bType == 0:
<img class="type" src="/static/image/folder.png" /> \
    % else:
<img class="type" src="/static/image/board.png" /> \
    % endif
    % if my_board.bDescription.strip() == '':
${my_board.bName}\
    % else:
${my_board.bDescription}\
    % endif
</a></li>
    <% not_has_fav_board = False %>
% else:
    % if not_has_fav_board:
    <li>등록한 게시판이 없습니다</li>
    % else:
    <li><img src="/static/image/feed.png" /> 피드: <a href="/+u/${ctx.session.username}/+favorite_rss">RSS</a>, <a href="/+u/${ctx.session.username}/+favorite_atom">Atom</a></li>
    % endif
% endfor
</ul>
</div>
<br />
% endif

<div class="heading"><span style="color: black">공지</span></a></div>
현재 새 글 읽기와 메일 기능 작업 중입니다. 새 글 읽기 기능에서 오류가 발생하더라도 작업 중이니 양해 부탁합니다. <a href="http://143.248.133.112">noah2k</a>는 여전히 살아 있으나, noah2k에서 글이나 댓글을 쓰면 깨집니다.
<br />
<br />

<div class="heading"><a class="dirlink" href="/divisionCS"><span style="color: black">학과</span></a></div>
<ul>
    <li>
        <a class="boardlink" href="/divisionCS/Notice">공지</a> / 
        <a class="boardlink" href="/divisionCS/HowAbout">건의</a> / 
        <a class="boardlink" href="/divisionCS/EastOfEden">과기계실</a>
    </li>
    <li>
        <a class="boardlink" href="/divisionCS/JobOffer">구인/구직</a> / 
        <a class="boardlink" href="/divisionCS/sportsCS">스포츠</a> / 
        <a class="boardlink" href="/divisionCS/entrExamLabAsgn">입시&amp;랩배정</a>
    </li>
</ul>
<br />

<div class="heading"><a class="dirlink" href="/friends"><span style="color: black">친목</span></a></div>
<ul>		
    <li><span style="color: #3C78B5; font-weight: bold">학부</span>
% for b in get_friend_boards(u'학부'):
<a class="boardlink" href="${b['board'].bName}">'${b['year']}</a> \
% endfor
    </li>
    <li><span style="color: #3C78B5; font-weight: bold">석사</span>
% for b in get_friend_boards(u'석사'):
<a class="boardlink" href="${b['board'].bName}">'${b['year']}</a> \
% endfor
    </li>
</ul>
<br />

<!-- 과목 게시판 -->
<div id="box">
    <div class="heading">
        <span style="color: black"><a class="dirlink" href="/course"><span style="color: black">개설 교과목</span></a></span>
        <span style="color: black; font-size: 0.9em; font-weight: normal"><a href="/OldCourse">(예전)</a></span>
    </div>
    <ul>
<% not_has_subject_board = True %>
% for my_board in board.get_child(board._get_board_id_from_path('/course')):
    <li><a class="boardlink" href="${my_board.bName}">\
    % if my_board.bDescription.strip() == '':
${my_board.bName}\
    % else:
${my_board.bDescription}\
    % endif
</a></li>
    <% not_has_subject_board = False %>
% else:
    % if not_has_subject_board:
    <li>과목 게시판이 없습니다</li>
    % endif
% endfor
    </ul>
</div>
<br />
<div class="heading"><a class="dirlink" href="/m"><span style="color: black">노아 모바일</span></a></div>
<a class="plainlink" href="/m"><img border="0" src="/static/image/qrcode.png" /></a>

%if board_path is not UNDEFINED:
%if feed is not UNDEFINED:
<!-- 피드 (for Google Chrome) -->
<div id="feeds"> 
    <a href="/${board_path}/+rss" class="feed"><img style="border-style: none;" src="/static/image/feed.png" /> RSS</a> 
    <a href="/${board_path}/+atom" class="feed"><img style="border-style: none;" src="/static/image/feed.png" /> Atom</a> 
</div> 
<br />
% endif
% endif
