<%inherit file="base.html" />
<%
import user, article, acl, board, util
import attachment
from web import ctx
from i18n import custom_gettext as _
%>
## 보드 설명

% if len(articles) == 0:
<div align="center">
    <div style="width: 500px; padding: 25px">
        <hr />
    %if search_keyword is UNDEFINED:
        ${_('No articles in this board.<br />Press \'Write\' to write one.')}
    % else:
        ${_('No search results.')}
    % endif
        <hr />
    </div>
</div>
% else:
<!-- 글 -->
<table border="0" cellspacing="0" cellpadding="3" class="list">
    <tr align="center" class="head">
        <th style="width:30px;">#</th>
        <th>${_('Title')}</th>
        <th style="width:60px;">${_('Author')}</th>
        <th style="width:60px;">${_('Date')}</th>
	<th style="width:30px;">${_('Hit')}</th>
    </tr>
    <% i = 1 %>
    %if marked_articles is not UNDEFINED:
        % for a in marked_articles:
        ${put_article(a, i, True)}
        <% i = i + 1 %>
        % endfor
    % endif
    %if articles is not UNDEFINED:
        % for a in articles:
        ${put_article(a, i, False)}
        <% i = i + 1 %>
        % endfor
    % endif
</table>
% endif

<!-- 페이지 네비게이트 , 글쓰기/관리 버튼-->
<div id="listmenu">
<p>
%if ctx.session.has_key('uid') and acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), ctx.session.uid, 'write'):
<!-- 글쓰기 -->
    <a class="button" href="/${board_path}/+write" title="${_('Write new article')}">${_('Write')}</a> 
% endif
%if ctx.session.has_key('uid') and acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), ctx.session.uid, 'modify'):
    <!-- 게시판 수정 -->
    <a class="button" href="/${board_path}/+modify">${_('Modify Board')}</a>
    <!-- 게시판 백업 
    <a class="button" href="/${board_path}/+backup">${_('Backup Board')}</a> -->
    <!-- 게시판 통계 
    <a class="button" href="/${board_path}/+statistics">${_('Board Statistics')}</a> -->
% endif
%if ctx.session.has_key('uid'):
    % if user.is_subscribed(ctx.session.uid, board._get_board_id_from_path(board_path)):
    <a class="button" href="/${board_path}/+subscribe" title="${_('Unsubscribe from this board')}">${_('Unsubscribe')}</a> 
    % else:
    <a class="button" href="/${board_path}/+subscribe" title="${_('Subscribe to this board')}">${_('Subscribe')}</a> 
    %endif
%endif
</p>

<p style="text-align: center;">
%if search_qs is UNDEFINED:
% if page > 0:
    % if page > 11:
    <a href="/${board_path}?page=1"><img src="/static/image/arrows/first.png" alt="first" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page > 2:
    <a href="/${board_path}?page=${max(1, page-10)}"><img src="/static/image/arrows/more_prev.png" alt="more_prev" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page > 1:
    <a href="/${board_path}?page=${page-1}"><img src="/static/image/arrows/prev.png" alt="prev" border="0" style="vertical-align: top" /> </a>&nbsp;
    % endif
    % for i in range(((page-1)/10)*10+1, min(total_page, ((page-1)/10*10+10))+1):
        % if i == page:
    <b>${i}</b>
        % else:
    <a class="listlink" href="/${board_path}?page=${i}">${i}</a>
        % endif
    % endfor
    % if page < total_page - 1:
    <a href="/${board_path}?page=${page+1}"><img src="/static/image/arrows/next.png" alt="next" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page < total_page - 2:
    <a href="/${board_path}?page=${min(total_page, page+10)}"><img src="/static/image/arrows/more_next.png" alt="more_next" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page < total_page - 11:
    <a href="/${board_path}?page=${total_page}"><img src="/static/image/arrows/last.png" alt="last" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
% endif
% else:
% if page > 0:
    % if page > 11:
    <a href="/${board_path}${search_qs}&page=1"><img src="/static/image/arrows/first.png" alt="first" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page > 2:
    <a href="/${board_path}${search_qs}&page=${max(1, page-10)}"><img src="/static/image/arrows/more_prev.png" alt="more_prev" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page > 1:
    <a href="/${board_path}${search_qs}&page=${page-1}"><img src="/static/image/arrows/prev.png" alt="prev" border="0" style="vertical-align: top" /> </a>&nbsp;
    % endif
    % for i in range(((page-1)/10)*10+1, min(total_page, ((page-1)/10*10+10))+1):
        % if i == page:
    <b>${i}</b>
        % else:
    <a class="listlink" href="/${board_path}${search_qs}&page=${i}">${i}</a>
        % endif
    % endfor
    % if page < total_page - 1:
    <a href="/${board_path}${search_qs}&page=${page+1}"><img src="/static/image/arrows/next.png" alt="next" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page < total_page - 2:
    <a href="/${board_path}${search_qs}&page=${min(total_page, page+10)}"><img src="/static/image/arrows/more_next.png" alt="more_next" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page < total_page - 11:
    <a href="/${board_path}${search_qs}&page=${total_page}"><img src="/static/image/arrows/last.png" alt="last" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
% endif
% endif
</p>

<!-- 검색 -->					
<form name="search_form" method="get" action="/${board_path}/+search">
    <p style="text-align: right;">
%if author_checked is UNDEFINED or author_checked == False:
        <input type="checkbox" name="author" value="1" />${_('Author')}
% else:
        <input type="checkbox" name="author" value="1" checked="checked" />${_('Author')}
% endif
%if title_checked is UNDEFINED or title_checked == True:
        <input type="checkbox" name="title" value="1" checked="checked" />${_('Title')}
% else:
        <input type="checkbox" name="title" value="1" />${_('Title')}
% endif
%if body_checked is UNDEFINED or body_checked == True:
        <input type="checkbox" name="body" value="1" checked="checked" />${_('Body')}
% else:
        <input type="checkbox" name="body" value="1"/>${_('Body')}
% endif
%if search_keyword is not UNDEFINED:
        <input class="flat_input" name="q" type="text" value="${search_keyword}" />
% else:
        <input class="flat_input" name="q" type="text" />
% endif
        <input class="button" name="submit" type="submit" value="검색" />
    </p>
</form>

</div> <!-- end of menu -->
<%def name="put_article(a, i, mark=False)" >

<%
unreaded = False
if ctx.session.has_key('uid'):
	if (user.is_unreaded_article(ctx.session.uid, a.aSerial) == 1):
		unreaded = True
%>
% if i%2 == 0:
<tr class="even">
% else:
<tr class="odd">
% endif
    <!-- 글번호 -->
%if mark:
    <td align="center"><a href="/${board_path}/+read/${a.aSerial}" class="articlelink">${_('Notice')}</a></td>
% else:
    <td align="center"><a href="/${board_path}/+read/${a.aSerial}" class="articlelink">${a.aIndex}</a></td>
% endif
    <!-- 제목 --> 
% if mark:
    <td class="emphasized" width="55%">
% else:
    <td width="55%">
% endif
%if (indent is UNDEFINED or indent == True) and a.aLevel > 0:
        <img src="/static/image/thread.png" alt="thread" style="margin-left: ${8 + 24 * (a.aLevel-1)}px" />
%endif
%if unreaded:
<b>
%endif
        <a href="/${board_path}/+read/${a.aSerial}" class="articlelink">${a.aTitle}
        <% attach_cnt = len(attachment.get_attachment(a.aSerial)) %>
        % if attach_cnt > 0:
        <img src="/static/image/file.png" style="vertical-align: bottom; border: 0;" alt="attachment" />
        % endif
	% if a.comment_count > 0:
        <span class="commentCount">[${a.comment_count}]</span>
        % endif
        </a>
%if unreaded:
</b>
%endif
    </td>
    <!-- 글쓴이 -->
    <td style="padding-left: 1em"><a class="articlelink" href="/+u/${a.aId}">${a.aId}</a></td>
    <!-- 날짜 -->
    <td align="center">${a.aDatetime.strftime('%Y-%m-%d')}</td>
    <!-- 조회수 -->
    <td align="center">${a.aHit}</td>
</tr>
</%def>
