<%inherit file="base.html" />
<%
import user, board
def get_formatted_username(uid):
    u = user.get_user(uid)[1]
    return "%(id)s" % {'id': u['uId']}

def get_comment_count(article_id):
    return board.get_comment_count(article_id)
%>
<!-- 글 -->
<table border="0" cellspacing="0" cellpadding="4" style="width: 100%; margin-bottom: 10px; " class="list">
    %if len(articles) == 0:
    글 없음
    %else:
    <tr align="center" class="head">
        <th>글번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>날짜</th>
        <th>조회수</th>
    </tr>
    <% i = 1 %>
    % for article in articles:
    % if i%2 == 0:
    <tr class="even">
    % else:
    <tr class="odd">
    % endif
    <% i = i + 1 %>
        <!-- 글번호 -->
        <td align="center"><a href="/${board_path}/+read/${article.aSerial}" class="articlelink">${article.aIndex}</a></td>
        <!-- 제목 --> 
        <td  width="55%">
%if article.aLevel > 0:
        <img src="/static/image/thread.png" alt="thread" style="margin-left: ${8 + 24 * (article.aLevel-1)}px" />
%endif
        <a href="/${board_path}/+read/${article.aSerial}" class="articlelink">${article.aTitle}
<% cmt_cnt = get_comment_count(article.aSerial) %>
% if cmt_cnt > 0:
            [${cmt_cnt}]
% endif
        </a>
        </td>
        <!-- 글쓴이 -->
        <td style="padding-left: 1em">${get_formatted_username(article.uSerial)}</td>
        <!-- 날짜 -->
        <td align="center">${article.aDatetime.strftime('%Y-%m-%d')}</td>
        <!-- 조회수 -->
        <td align="center">${article.aHit}</td>
    </tr>
    % endfor
    % endif

</table>


<!-- 페이지 네비게이트 , 글쓰기/관리 버튼-->
<div id="listmenu">
<!-- 글쓰기 -->
<a class="button" href="/${board_path}/+write" title="새 글을 작성합니다">글쓰기</a> 
<!-- 안 읽은 글 -->
<a class="button" href="/${board_path}/+new_article" title="읽지 않은 글들을 봅니다">안읽은글</a> 
<a class="button" href="/${board_path}/+subscribe" title="새글읽기 기능을 토글합니다.">구독하기</a> 
<a class="button" href="/${board_path}/+mark_as_read_all" title="읽지 않은 글들을 봅니다">새글없애기</a>
<!-- 보드 관리 -->
<a class="button" href="/${board_path}/+configure" title="이 보드의 관리 메뉴를 봅니다">관리</a> 

<center>
    % if page > 11:
    <a href="/${board_path}?page=1"><img src="/static/image/arrows/first.png" alt="first" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page > 2:
    <a href="/${board_path}?page=${max(1, page-10)}"><img src="/static/image/arrows/more_prev.png" alt="more_prev" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page > 1:
    <a href="/${board_path}?page=${page-1}"><img src="/static/image/arrows/prev.png" alt="prev" border="0" style="vertical-align: top" /> </a>&nbsp;
    % endif
    % for i in range(((page-1)/10)*10+1, min(total_page, ((page-1)/10*10+10))+1):
    % if i == page:
    <b>${i}</b>
    % else:
    <a class="listlink" href="/${board_path}?page=${i}">${i}</a>
    % endif
    % endfor
    % if page < total_page - 1:
    <a href="/${board_path}?page=${page+1}"><img src="/static/image/arrows/next.png" alt="next" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page < total_page - 2:
    <a href="/${board_path}?page=${min(total_page, page+10)}"><img src="/static/image/arrows/more_next.png" alt="more_next" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page < total_page - 11:
    <a href="/${board_path}?page=${total_page}"><img src="/static/image/arrows/last.png" alt="last" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
</center>

<!-- 검색 -->				
<div id="search">
    <form name="search_form" method="post" style="margin: 0; padding: 0;" action="/${board_path}/+search">
        <!--        <input name="${board_path}" type="hidden" value="27"/>-->

        <input name="category" type="hidden" value="title"/>
        <!--<span id="subtitle">제목찾기</span> <span class="sep">:</span>-->
        <input name="keyword" type="text"/>
        <input name="submit" type="submit" value="검색"/>
    </form>
</div>

</div> <!-- end of menu -->

