<%inherit file="base.html" />
<!-- 하위 디렉토리 -->
<table border="0" cellspacing="0" cellpadding="4" width="100%" class="list">
    <tr class="head">
        <th width="20%">이름</th>
        <th width="55%">설명</th>
    </tr>
    % if len(child_boards) == 0:
    <tr>
        <td colspan="2">생성된 하위 게시판이 없습니다.</td>
    </tr>
    %else:
    <% i = 1 %>
    % for child_board in child_boards:
    % if i%2 == 0:
    <tr class="even">
    % else:
    <tr class="odd">
    %endif
    <% i = i + 1 %>
        <td width="20%">
            %if child_board.bType == 0:
            <img class="type" src="/static/image/dir.gif" alt="디렉터리" />
            %else:
            <img class="type" src="/static/image/board.gif" alt="게시판" />
            %endif
            <a href= "${child_board.bName}" class="boardlink">${child_board.bName}&nbsp;</a>
        </td>
        <td width="55%">
            <a href= "${child_board.bName}" class="boardlink">${child_board.bDescription}&nbsp; </a>
        </td>
    </tr>
    % endfor
    % endif

</table>

