<%inherit file="base.html" />
<%
import user, article, acl, board
from web import ctx
%>
% if len(articles) == 0:
<div align="center">
    <div style="width: 500px; padding: 25px">
        <hr />
        현재 이 게시판에는 글이 하나도 없습니다.<br />
        글쓰기 버튼을 눌러 글을 써주세요.
        <hr />
    </div>
</div>
% else:
<!-- 글 -->
<table border="0" cellspacing="0" cellpadding="4" style="width: 100%; margin-bottom: 10px; " class="list">
    <tr align="center" class="head">
        <th>글번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>날짜</th>
        <th>조회수</th>
    </tr>
    <% i = 1 %>
    %if marked_articles is not UNDEFINED:
        % for a in marked_articles:
        ${put_article(a, i, True)}
        <% i = i + 1 %>
        % endfor
    % endif
    %if articles is not UNDEFINED:
        % for a in articles:
        ${put_article(a, i, False)}
        <% i = i + 1 %>
        % endfor
    % endif
</table>
% endif

<!-- 페이지 네비게이트 , 글쓰기/관리 버튼-->
<div id="listmenu">
%if ctx.session.has_key('uid') and acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), ctx.session.uid, 'write'):
<!-- 글쓰기 -->
<a class="button" href="/${board_path}/+write" title="새 글을 작성합니다">글쓰기</a> 
% endif
<!-- 보드 관리 -->
<a class="button" href="/${board_path}/+summary" title="이 보드의 정보를 보거나 수정합니다">정보</a> 
%if ctx.session.has_key('uid'):
    % if user.is_subscribed(ctx.session.uid, board._get_board_id_from_path(board_path)):
<a class="button" href="/${board_path}/+subscribe" title="이 보드를 구독 취소합니다.">구독취소</a> 
    % else:
<a class="button" href="/${board_path}/+subscribe" title="이 보드를 구독합니다.">구독하기</a> 
    %endif
%endif

<center>
% if page > 0:
    % if page > 11:
    <a href="/${board_path}?page=1"><img src="/static/image/arrows/first.png" alt="first" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page > 2:
    <a href="/${board_path}?page=${max(1, page-10)}"><img src="/static/image/arrows/more_prev.png" alt="more_prev" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page > 1:
    <a href="/${board_path}?page=${page-1}"><img src="/static/image/arrows/prev.png" alt="prev" border="0" style="vertical-align: top" /> </a>&nbsp;
    % endif
    % for i in range(((page-1)/10)*10+1, min(total_page, ((page-1)/10*10+10))+1):
        % if i == page:
    <b>${i}</b>
        % else:
    <a class="listlink" href="/${board_path}?page=${i}">${i}</a>
        % endif
    % endfor
    % if page < total_page - 1:
    <a href="/${board_path}?page=${page+1}"><img src="/static/image/arrows/next.png" alt="next" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page < total_page - 2:
    <a href="/${board_path}?page=${min(total_page, page+10)}"><img src="/static/image/arrows/more_next.png" alt="more_next" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
    % if page < total_page - 11:
    <a href="/${board_path}?page=${total_page}"><img src="/static/image/arrows/last.png" alt="last" border="0" style="vertical-align: top" /></a>&nbsp;
    % endif
% endif
</center>

</div> <!-- end of menu -->
<%def name="put_article(a, i, mark=False)" >

<%
unreaded = False
if ctx.session.has_key('uid'):
	if (user.is_unreaded_article(ctx.session.uid, a.aSerial) == 1):
		unreaded = True
%>
% if i%2 == 0:
<tr class="even">
% else:
<tr class="odd">
% endif
    <!-- 글번호 -->
%if mark:
    <td align="center"><a href="/${board_path}/+read/${a.aSerial}" class="articlelink">공지</a></td>
% else:
    <td align="center"><a href="/${board_path}/+read/${a.aSerial}" class="articlelink">${a.aIndex}</a></td>
% endif
    <!-- 제목 --> 
% if mark:
    <td class="emphasized" width="55%">
% else:
    <td width="55%">
% endif
%if a.aLevel > 0:
        <img src="/static/image/thread.png" alt="thread" style="margin-left: ${8 + 24 * (a.aLevel-1)}px" />
%endif
%if unreaded:
<b>
%endif
        <a href="/${board_path}/+read/${a.aSerial}" class="articlelink">${a.aTitle}
        <% cmt_cnt = article.get_comment_count(a.aSerial) %>
        % if cmt_cnt > 0:
        <span class="commentCount">[${cmt_cnt}]</span>
        % endif
        </a>
%if unreaded:
</b>
%endif
    </td>
    <!-- 글쓴이 -->
    <td style="padding-left: 1em">${a.aId}</td>
    <!-- 날짜 -->
    <td align="center">${a.aDatetime.strftime('%Y-%m-%d')}</td>
    <!-- 조회수 -->
    <td align="center">${a.aHit}</td>
</tr>
</%def>
