<% from i18n import custom_gettext as _
from web import ctx
import board, acl, util %>

<!-- 하위 디렉터리 -->
<table border="0" cellspacing="0" cellpadding="4" width="100%" class="list">
    <tr class="head">
        <th width="20%">${_('Name')}</th>
        <th width="55%">${_('Description')}</th>
    </tr>
    % if len(child_boards) == 0:
    <tr>
        <td colspan="2">${_('No child boards.')}</td>
    </tr>
    %else:
    <% i = 1 %>
    % for child_board in child_boards:
    % if i%2 == 0:
    <tr class="even">
    % else:
    <tr class="odd">
    %endif
    <% i = i + 1 %>
        <td width="20%">
            %if child_board.bType == 0:
            <img class="type" src="/static/image/folder.png" alt="디렉터리" />
            %elif child_board.bType == 1:
            <img class="type" src="/static/image/board.png" alt="게시판" />
            %else:
            <img class="type" src="/static/image/alias.png" alt="넘겨주기" />
            %endif
            <a href= "${child_board.bName}" class="boardlink">${child_board.bName}&nbsp;</a>
        </td>
        <td width="55%">
            <a href= "${child_board.bName}" class="boardlink">${child_board.bDescription}&nbsp; </a>
        </td>
    </tr>
    % endfor
    % endif
</table>
%if board_path != '' and ctx.session.has_key('uid') and acl.is_allowed('board', board._get_board_id_from_path('/%s' % board_path), ctx.session.uid, 'modify'):
    <!-- 게시판 수정 -->
    <a class="button" href="/${util.link(board_path)}/+modify">${_('Modify Board')}</a>
    <!-- 게시판 백업 -->
    <a class="button" href="/${util.link(board_path)}/+backup">${_('Backup Board')}</a>
    <!-- 게시판 통계 -->
    <a class="button" href="/${util.link(board_path)}/+statistics">${_('Board Statistics')}</a>
% endif
