<%inherit file="base.html" />
<p>글 쓰기</p>
<form name="write_form" method="POST" action="/${board_path}/+write">
<div id="row">
    <div class="left-container">제목</div>
    <span class="sep">:</span>
    <input name="title" type="text" maxlength="255" style="font-size: 0.9em; width: 500px; height: 1.6em" value="">
</div>

<div id="row">
    <div class="left-container">내용</div>
    <span class="sep">:</span>
    <textarea name="content" style="font-size: 0.9em; width: 550px; height: 360px"></textarea>
</div>
<div id="row">
    <div class="left-container">첨부 #</div>
    <span class="sep">:</span>
    <input name="moreattach1" type="file">
</div>

<div id="row">
    <div class="left-container">첨부 #</div>
    <span class="sep">:</span>
    <input name="moreattach2" type="file">
</div>
<div style="text-align: right; width: 52em;">
    <input type="submit" name="Submit" value="확인">
    <input type=button value="돌아가기" onclick=history.back()>
</div>
</form>
<iframe id="sessionKeeper" src="sessionkeeper.jsp" scrolling="no" frameborder="0" width="1px" height="1px"></iframe>			
