body, div, textarea, input {
	font-family: 나눔고딕, sans-serif;
}

a.button, input.button {
    text-decoration: none;
    color: black;
    border: 1px solid silver; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: white; 
    padding: 3px 5px 3px 5px;
    margin: 2px;
    font-size: 1.0em;
    height: 1.8em;
}

a.button img, input.button img {
    border-style: none;
    vertical-align: bottom;
}
a.button:hover { background: gray; color: white }

input.button {
    height: 1.8em;
}

.flat_input {
    margin: 0;
    padding: 2px;
    border: 1px solid gray;
}

.button:hover { background: gray; color: white }

table    { width:100%; margin-bottom: 4px; }
table.list     {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

table.list th {
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    padding-top: 4px; 
    padding-bottom: 4px; 
    background: #e9e9e9;
 }
table.list tr    { font-size: 1em; }
table.list tr.even    { background: #ededed;}
table.list tr.odd  { background: white; }
table.list span.commentCount { 
    color: #666666;
    padding-left: 2px;
    font-size: 80%; 
}
span.new {
    color: #ff1493;
    padding-left: 2px;
    font-size: 80%;
}

hr {
    color: #a7d7f9;
    background-color: #a7d7f9;
    height: 1px;
    border: 0;
}

body {
    margin: 0;
}

.spacer {
    font-size: 1px;
    clear: both;
}

a.plainlink        { text-decoration: none; color: black }
a.plainlink:hover    { text-decoration: none; color: black }
a.servicelink        { text-decoration: none; color: black }
a.servicelink:hover    { text-decoration: none; color: red }
a.favlink            { text-decoration: none; color: orange; font-weight: bold }
a.favlink:hover        { text-decoration: underline }
a.dirlink            { text-decoration: none; color: orange; font-weight: bold }
a.dirlink:hover        { text-decoration: underline }
a.boardlink            { text-decoration: none; color: black }
a.boardlink:hover    { text-decoration: underline }
a.listlink            { text-decoration: none; color: black }
a.listlink:hover    { color: red }
a.articlelink        { text-decoration: none; color: black }
a.articlelink:hover    { text-decoration: underline }
a.filelink            { font-weight: bold; text-decoration: none; color: gray }
a.filelink:hover    { font-weight: bold; text-decoration: underline; color: red }

img.type {
    vertical-align: text-bottom;
}

/* header --------------------------------------------- */
div#header {
    font-size: 0.8em;
    padding: 10px 0 4px 10px;
    border-bottom: 1px solid #a7d7f9;
    height: 48px;
    background-color: #f6f6f6;
    overflow: hidden;
}

div#header div#logo {
    margin-right: 10px;
    float: left;
}

div#header div#menu {
    float: right;
    width: 5em;
}

div#header div#menu ul { 
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: right;
}

div#header div#menu li {
    float: left;
    padding: 0px 6px 0 0;
    margin: 0px 1px 0 0;
}

div#header div#title {
    vertical-align: bottom;
    margin-left: 220px;
    overflow: hidden;
}

.board_heading {
    text-decoration: none;
    color: black;
    font-size: 1.6em;
    font-weight: bold;
}


div#header div#title a:hover {
    text-decoration: underline;
}

/* side --------------------------------------------- */
div#sidebar {
    float: left;
    width: 216px;
    margin: 0;
    padding: 10px 0 0px 10px;
    line-height: 160%;
    font-size: 0.76em;
    border-right: 1px solid #a7d7f9;
}

div#sidebar br {
    line-height: 100%;
}

div#sidebar div.heading {
    border-top: 1px solid #CCC;
    width: 200px;
    padding: 3px;
}

div#sidebar div.heading span.closed {
    background-image: url('/static/image/closed.png');
    background-repeat: no-repeat;
    padding-left: 18px;
    cursor: pointer;
}

div#sidebar div.heading span.open {
    background-image: url('/static/image/open.png');
    background-repeat: no-repeat;
    padding-left: 18px;
    cursor: pointer;
}

div#sidebar ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    padding-bottom: 6px;
}

div#sidebar li {
    overflow: hidden;
    height: 1.5em;
    margin: 2px 0px 2px 0px;
}

div#feeds {
    text-align: center;
    margin: 10px;
}

a.feed {
    border-style: none;
    text-decoration: none;
    color:#000;
    margin: 4px;
    padding: 0 3px;
}

a.feed img {
    border-style: none;
    vertical-align: bottom;
}
/* body --------------------------------------------- */
div#body {
    margin: 0 0 0 225px;
    padding: 10px 10px 10px 16px;
    font-size: 0.8em;
}


div#body .heading {
    font-weight: bold;
    border-bottom: 2px solid #3C78B5;
    text-align: center;
    padding: 3px;
    padding-top: 8px;
    margin-bottom: 4px;
}

div.row {
    color: #000000;
    margin-bottom: 0.3em;
     padding: 0;
     line-height: 1.5em;
}

div.left-container {
    float: left;
    width: 10em;
    background-color: #F0F0F0;
    padding: 2px 10px 0px 0;
    margin: 0 15px 0 0;
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
    border-right: 1px solid #C0C0C0;
}

span#attachment {
    font-weight: bold;
}

#content {
    border-top: 1px solid #d1d1d1;
    padding: 10px 15px 10px 15px;
    font-size: 1.0em;
    margin-top: 10px;
    text-align: justify;
    line-height: 150%;
}

#content .image {
    font-size: 0.9em;
    font-weight: bold;
    color: gray;
    margin-bottom: 25px;
    border-style: none;
}
#content .image a{
    border-style: none;
}

#content blockquote {
    border: 1px solid #d1d1d1;
    margin-left: 20px;
    margin-top: 2px;
    padding: 5px 5px 5px 5px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#content em {
    font-style: normal;
}

div#article {
    border-bottom: 1px solid #3C78B5;
    margin-bottom: 10px;
}

.emphasized a, #article .emphasized {
    color: red;
}

/* comment ------------------------------------------ */
div#comment {
}

div#comment div#list{
    border-top: 1px solid #C0C0C0;
    padding-top: 10px;
}

div#comment div#input {
    text-align: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid #c0c0c0;
    background-color: #F0F0F0;
    margin: 10px 100px 10px 100px;
}
#comment table {
    font-size: 1.0em;
}
#comment tr {
    padding: 5px;
}
#comment td.avatar {
    width: 30px;
    vertical-align: top;
}
#comment td.writer {
    width: 8em;
    padding: 0px 1em 0px 0px;
    font-size: 0.9em;
    color: gray;
    text-align: right;
    vertical-align: top;
}
#comment td.content {
    font-size: 1.0em;
    padding-left: 5px;
    vertical-align: top;
}
#comment td.writetime {
    width: 10em;
    font-size: 0.9em;
    padding-right: 5px;
    text-align: left;
    color: gray;
}
a.delbutton {
    text-align: center;
    font-size: 0.9em;
    width: 5em;
}

#body #menu ul { 
    list-style: none;
    float: right;
}

#body #menu li {
    float: left;
    padding: 0px 6px 0px 0px;
    margin: 0px 1px 0px 0px;
}

.sep, #body .sep {
    display: none;
    margin: 0 1px 0 0;
}

#body #errorbox {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    text-align: left;
}

#body #errorbox img {
    margin-bottom: 5px;
}

#body #errorbox h3 {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
}

/* footer ------------------------------------------ */
div#footer {
    clear: both;
    margin: 0 0 10px 0;
    font-size: 0.76em;
    border-top: 1px solid #a7d7f9;
    padding: 8px 10px 10px 10px;
}

div#footer div#banner {
    float: left;
    padding: 0;
    margin: 0;
    width: 40%;
}
.menu, div#footer div#menu {
    float: right;
    margin: 0;
    padding: 0;
    width: 40%;
}
.menu ul, div#footer div#menu ul { 
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li, div#footer div#menu li {
    float: left;
    padding: 0px 6px 0 0;
    margin: 0px 1px 0 0;
}
#footer img {
    border: none;
    vertical-align: text-bottom;
}
div.desc {
        width: 6em; 
        float: left; 
        background-color: #F0F0F0; 
        margin-right: 10px; 
        padding-right: 10px;
        text-align: right;
}
img.type {
    border: 0;
    vertical-align: text-bottom;
}

a.quote {
    text-decoration: none;
    color: #555;
}

div.personal_tools .auth_left {
    width: 150px;
    float: left;
}

div.personal_tools p {
    margin: 0 3px 0 0;
    margin-bottom: 3px;
}

div.personal_tools p label {
    display: block;
    float: left;
    width: 60px;
}

div.personal_tools .auth_input{
    width: 120px;
    margin: 0;
    padding: 2px;
    border: 1px solid gray;
}

.avatar_large {
    width: 48px;
    height: 48px;
    border: 1px solid;
    border-color: gray;
}

.avatar_small {
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-color: gray;
}

div.personal_tools .myinfo_left {
    float: left;
    width: 50px;
    height: 50px;
    margin-bottom: 6px;
}

div.personal_tools .myinfo_right {
    height: 50px;
    margin-bottom: 6px;
    margin-left: 55px;
}

div.personal_tools a.userinfo_side {
    color: black;
	font-weight: bold;
    text-decoration: underline;
}

div.personal_tools a.userinfo_side:hover {
    color: black;
	font-weight: bold;
    text-decoration: underline;
}

.title {
    font-size: 1.3em;
}

.board_path {
    text-decoration: none;
    color: gray;
    font-weight: normal;
}

.board_path a {
    text-decoration: none;
    color: gray;
    font-weight: normal;
}

.board_path a:hover {
    text-decoration: underline;
    color: gray;
    font-weight: normal;
    background-color: white;
}
.none { color: #aaaaaa;}
.small {font-size: 0.9em; }

.prop_table th { text-align: right;}
.prop_table th, td { padding-bottom: 5px;}
.prop_table th { padding-right: 10px; vertical-align: top;}
.prop_table hr { background-color: #aaaaaa; height: 1px;}
tr.final_buttons { padding-top: 10px; text-align: right;}

div.avatar_body {
    float: right;
}
a.prev-article {
    padding-top: 0;
    padding-left: 40px;
    text-align: left;
    float: left;
    width: 46%;
}
a.next-article {
    padding-top: 0px;
    padding-right: 40px;
    width: 100%;
}
div.article-link {
    display: block;
    border-top: 1px solid silver;
/*    border-bottom: 3px solid #3C78B5; */
    padding: 6px;
    text-align: right;
}

h2 {
    display: inline;
}
div.mainmenu {
    float: left;
    margin-right: 4px;
    clear: left;
}

div.main_notice {
    height: 1.1em;
    overflow: hidden;
}

table.mainmenu_table ul {
    list-style-type:square;
    margin-left: 160px;
    padding: 0;
}
table.mainmenu_table li {
    margin: 0;
    padding: 0;
}

.advertisement img {
    padding-top: 6px;
    border: 1px solid black;
}

.othertools ul {
    list-style: none;
    padding-left: 0;
}
.othertools a, table.mainmenu_table a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.othertools a:hover, table.mainmenu_table a:hover {
    text-decoration: underline;
}

.othertools img {
    border: none;
}

.major {
	color: black;
}

.miner {
	color: gray;
}
