hr {
    color: #3C78B5;
    background-color: #3C78B5;
    height: 2px;
    border: 0;
}

body {
    line-height: 160%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.8em;
}

a.servicelink        { text-decoration: none; color: black }
a.servicelink:hover    { text-decoration: none; color: red }
a.favlink            { text-decoration: none; color: orange; font-weight: bold }
a.favlink:hover        { text-decoration: underline }
a.dirlink            { text-decoration: none; color: orange; font-weight: bold }
a.dirlink:hover        { text-decoration: underline }
a.boardlink            { text-decoration: none; color: black }
a.boardlink:hover    { background-color: #E0E0FF }
a.listlink            { text-decoration: none; color: black }
a.listlink:hover    { color: red }
a.articlelink        { text-decoration: none; color: black }
a.articlelink:hover    { text-decoration: underline }
a.filelink            { font-weight: bold; text-decoration: none; color: gray }
a.filelink:hover    { font-weight: bold; text-decoration: underline; color: red }

img{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
}

#header {
    background-color: #a5c1e4;
}

#header img {
    margin-bottom: 5px;
}

#header a {
    margin: 10px;
}

#header .title {
    font-size: 1.6em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#footer {
    background-color: #bfd9ff;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #555;

}

#footer a:hover {
    color: #999;
}

table    { width:100%; margin-bottom: 10px }
table.list     { border-bottom: 2px solid #3C78B5; }
table.list td     { border-right: 0px;}
table.list th     { font-weight: bold; border-bottom: 2px solid #3C78B5; padding-top: 8px; border-right: 0px; }
table.list tr    { font-size: 1em }
table.list tr.even    { background: rgb(237,243,254); }
table.list tr.odd  { background: #FFFFFF; }
table.list tr span#commentCount { 
    color: #666666;
    padding-left: 5px;
    font-size: 80%; 
}
ul.list { 
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #3C78B5;
    list-style-type: none;
}
ul.list2 { 
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
    list-style-type: none;
}

ul.list li {
	height: 1.8em;
	overflow: hidden;
}

ul.list li.even {
    background: rgb(237, 243, 254);
}

ul.list li.odd {
    background: #fff;
}

a.button {
    text-decoration: none;
    background-color:#555;
    color: #fff;
    font-size:1em;
    margin:0.3em 0.5em 0.5em 0em;
    padding:0.4em 0.6em 0.4em 0.6em;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}
a.button:hover { 
    background-color: #999;
 }

ul.buttonlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul.buttonlist li {
    display: inline;
}

h3 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 0.5em 0.5em;
    background-color: #ccc;
    color: #000;
}

h4 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0.3em 0.3em;
    background-color: #eee;
    color: #000;
}

#article .writer {
    display: block;
    float: left;
}

#article .last_modified {
    display: block;
    float: right;
}

.emphasized a, #article .emphasized {
    color: red;
}

.cmt_writer {
    color: gray;
    font-size: 90%;
    width: 4em;
    margin-right: 0.5em;
}

#input {
    text-align: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid #c0c0c0;
    background-color: #F0F0F0;
    margin: 10px 0 10px 0;
}

#content .image {
    font-size: 0.9em;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;
    border-style: none;
}
#content .image a{
    border-style: none;
}

blockquote {
    border: 1px solid #3C78B5;
    margin-left: 20px;
    margin-top: 2px;
    padding: 5px 5px 5px 5px;
    margin-right: 0px;
    margin-bottom: 0px;
}
a.quote {
    text-decoration: none;
    color: #555;
}
