@charset "UTF-8";
blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #333333;
    font-size: 100%;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 100%; }

/*
 * PAGE CONTAINERS
 * See documentation for details regarding use of #wrap and #content
 */
/* enables layout in these HTML 5 elements */
#header, #footer, #aside, #section, #nav {
    display: block;
}

#wrap {
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    padding: 0; }

#content { margin: 0; line-height: 150%;}

#footer {
    background: #bfc8db url('/static/image/mobile_2/footer.png') repeat-x top;
    padding: .7em 0em;
    height: 3em; }
    #footer p {
    font-size: .9em;
    margin-left: 0.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0em; }
    #footer.extended {
    height: 6em; }

/* clearfix compatible with all Nokia webkit browsers, testing is recommended on other devices */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

p {
    line-height: 125%;
    margin-top: 0em;
    margin-bottom: 1em;
    clear: both; }
em { font-style: italic; }
a {
    color: #003399;
    font-weight: normal;
    text-decoration: none;
    font-size: 100%; }

ul {
    list-style: disc;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-left: 0.5em; }
ul ul { margin: 0.3em 0em; }

ol {
    list-style: decimal;
    margin-left: 1em;
    padding-left: 0.5em;
    margin-bottom: 1em; }
ol ol { margin: 0.3em 0em; }

/*
 * HEADERS
 * 
 */
/*alternate header - designed to be used in apps or widgets*/
h1.top-aligned {
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: .8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
    background: #aec4e9 url('/static/image/mobile_2/header-shadow.png') repeat-x bottom;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    text-align: center; }
h1.top-aligned a { color: black; }

h1 {
    font-size: 1.5em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    clear: both;
    line-height: 100%;
    font-weight: bold; }

h2 {
    font-size: 1.3em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    clear: both;
    line-height: 100%;
    color: #000077; }

h3 {
    font-size: 1.2em;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: white url('/static/image/mobile_2/header-gradient.png') repeat-x bottom;
    border-top: 1px solid #d8d8d8;
    margin-top: 0em;
    margin-bottom: 0.7em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    line-height: 100%; }


/*
 * BLOCKQUOTE
 * 
 */
blockquote {
    border: 1px solid #3C78B5;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0.2em;
    margin-left: 1em;
    padding: 0.2em;
    /*  background: url('/static/image/mobile_2/quote.png') no-repeat 0em 0.5em; */
  }
a.quote {
    text-decoration: none;
    color: #555;
}
blockquote p {
    margin: 0;
    padding: 0; }

/*
 * 2. LISTS
 * 
 */
/*
 * LIST WITH GRAPHIC OR ICON
 * 
 */
ul.list-graphical {
    list-style-type: none;
    padding: 0;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    color: #333333;
    border-bottom: #d8d8d8 1px solid; }
ul.list-graphical li {
    background-color: #f6f6f6;
    display: block;
    line-height: 2.5em;
    border-top: #d8d8d8 1px solid;
    overflow: hidden; }
ul.list-graphical li:hover {
    background: #e0e5f9 url('/static/image/mobile_2/global-hover.png') repeat-x top; }
ul.list-graphical a {
    display: block;
    height: 2.5em;
    text-decoration: none;
    padding-right: 0.5em; }
ul.list-graphical a:link, ul.list-graphical a:visited {
    color: #333333; }
ul.list-graphical a img {
    float: left;
    margin-right: .5em;
    width: auto;
    height: 2.5em; }
ul.list-graphical a:hover {
    outline: none;
    color: white; }
ul.list-graphical a:active {
    color: white; }

/*
 * SIMPLE STYLED LIST BOX
 * 
 */
/*note: change to line height and height required to adjust height*/
ul.nav-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border-bottom: 1px solid #d8d8d8;
    color: #333333; }
ul.nav-list li {
    background-color: #f6f6f6;
    line-height: 2.5em;
    display: block;
    border-top: #d8d8d8 1px solid; }
ul.nav-list li:hover {
    background: #e0e5f9 url('/static/image/mobile_2/global-hover.png') repeat-x top; }
ul.nav-list a {
    padding-left: .5em;
    display: block;
    height: 2.5em;
    background: url('/static/image/mobile_2/open.png') no-repeat right center;
    text-decoration: none;
    overflow: hidden; }
ul.nav-list a:link, ul.nav-list a:visited { color: #333333; }
ul.nav-list a:hover, ul.nav-list a:active { color: #003399; }

/*
 * 3. NAVIGATION COMPONENTS
 * 
 */
/*
 * BACK TO TOP AND HOME
 * 
 */
div.pagelevel {
    font-size: 1em;
    border-top: 1px solid #d8d8d8;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: -0.5em;
    margin-right: -0.5em; }
div.pagelevel a {
    color: #333333;
    text-decoration: none;
    width: 100%;
    display: block;
    line-height: 2.125em; }
div.pagelevel.top {
    background: #f6f6f6 url('/static/image/mobile_2/top.png') no-repeat 0.5em center;
    border-bottom: 1px solid #d8d8d8;
    padding-left: 2.2em; }
div.pagelevel.home {
    background: #f6f6f6 url('/static/image/mobile_2/home.png') no-repeat 0.5em center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 0; }
div.pagelevel.home_reverse {
    background: #f6f6f6 url('/static/image/mobile_2/home_reverse.png') no-repeat 97% center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 0; }

/*
 * BREADCRUMBS
 * 
 */
ul.nav-breadcrumbs {
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 0;
    padding-right: 0.5em;
    padding-left: 0;
    font-size: 90%;
    list-style-type: none; }
ul.nav-breadcrumbs li {
    display: inline;
    line-height: 1.875em; }
ul.nav-breadcrumbs a { color: orange; }

  /*
   * FOOTER OR ADMIN NAV
   * 
   */
.nav-admin ul {
    display: block;
    color: black;
    padding-top: 0em;
    margin-bottom: 1em;
    padding-left: 0;
    margin-right: 0.5em;
    margin-bottom: 0;
    font-size: .8em;
    margin-left: 0.5em; }
.nav-admin ul li {
    display: inline;
    line-height: 1.875em;
    float: left; }
.nav-admin ul li a {
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-right: 1px solid black;
    text-decoration: none; }
.nav-admin ul li.last a {
    border-right: none;
    padding-right: 0; }
.nav-admin ul li.first a {
    padding-left: 0; }

/*
 * HORIZONTAL NAV
 * 
 */
ul.nav-horizontal {
    padding: 0;
    margin: 0.2em 0 0.2em 0;
    list-style-type: none;
    width: 100%;
    float: left;
    border-top: 1px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    background-color: #f6f6f6; }
ul.nav-horizontal li {
    float: left;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    /* switch to:hover for non-touch devices*/ }
ul.nav-horizontal li:hover { background: #e0e5f9 url('/static/image/mobile_2/global-hover.png') repeat-x top; }
ul.nav-horizontal a {
        text-decoration: none;
        display: block;
        cursor: pointer;
        padding: 0 0;
        margin: 0;
        line-height: 2.5em;
        background: url('/static/image/mobile_2/vertical-divider.png') repeat-y left center;
        text-align: center;
        color: #333333; }
    ul.nav-horizontal a.first {
        background-image: none; }
    ul.nav-horizontal a:hover {
        outline: none;
        color: #003399;
        background-image: none; }

/*sets number of navigation bar items*/
/*add class to li*/
ul.five-piece li { width: 20%; }
ul.four-piece li { width: 25%; }
ul.three-piece li { width: 33.3%; }
ul.two-piece li { width: 50%; }

    /*
     * 4. STYLISED LINKS
     * includes icon to represent the type of link
     */
/*external link*/
a.external {
    background: url('/static/image/mobile_2/icon-link-external.png') no-repeat right top;
    padding-right: 1em; }

/*links to ical data*/
/*see 'data-ical' in resources*/
a.ical {
    background: url('/static/image/mobile_2/icon-link-ical.png') no-repeat right top;
    padding-right: 1em; }

a[href^="mailto:"] {
    background: url('/static/image/mobile_2/icon-link-email.png') no-repeat right top;
    padding-right: 1em; }

a[href^="tel:"] {
    background: url('/static/image/mobile_2/icon-link-tel.png') no-repeat right top;
    padding-right: 1em; }

a[href^="sms:"] {
    background: url('/static/image/mobile_2/icon-link-sms.png') no-repeat right top;
    padding-right: 1em; }

/*
 * 5. BUTTON
 * 
 */
/*
 * STYLED BUTTON
 * 
 */
/* change button width to auto for full-width button or customise width */
/* style has been modified to work with 'hovering' script */
/* see documentation for details */
a.button {
    display: block;
    line-height: 2.5em;
    width: 6em;
    background-color: #f6f6f6;
    text-align: center;
    border-bottom: 2px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    text-decoration: none;
    color: #333333;
    padding: 0 .3em;
    margin-bottom: 1em;
    /* if not using the 'hovering' script, rename this style to ':hover' */ }
    a.button.hovering {
        background: #c0da07 url('/static/image/mobile_2/button.png') repeat-x bottom;
        color: white;
        outline: none; }

    /*
     * 6. FORMS
     * 
     */
fieldset { border: 0;margin-top: 0em; }

legend {
    font-size: 110%;
    font-weight: bold;
    padding-bottom: .5em;
    color: #000077; }

form { color: #333333; }
form label {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: .5em; }
form ul, ul.list2 {
    list-style-type: none;
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-top: .5em;
    margin-left: 0;
    padding: 0; }
form ul li, ul.list2 li {
    margin: 0;
    padding: 0; }

input[type='text'],  input[type='password']{
    border: 1px solid #d8d8d8;
    background: white url('/static/image/mobile_2/form-input-shadow.png') repeat-x top;
    /* display: block; */
    padding: 0.2em;
    width: 98%;
    color: #333333;
    margin-bottom: 1em; }

textarea {
    border: 1px solid #d8d8d8;
    background: white url('/static/image/mobile_2/form-input-shadow.png') repeat-x top;
    display: block;
    padding: 0.2em;
    color: #333333;
    width: 98%;
    line-height: normal;
    margin-bottom: 1em; }

form ul li input[type='radio'], form ul li input[type='checkbox'] {
    margin: 0;
    padding: 0; }

select {
    border: 1px solid #d8d8d8;
    background: white;
    color: #999999;
    margin-top: 0em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    display: block;
    width: 98%; }

input[type='button'], input[type='submit'] {
    border: 1px solid #d8d8d8;
    background-color: white;
    padding: 0.3em 1.3em;
    color: #999999;
    margin: 0em 0 1em 0; }

/*
 * 7. TABLES
 * 
 */
table {
    border: 1px solid #d8d8d8;
    margin: 0;
    width: 100%;
    color: #333333;
    vertical-align: top;
    margin-bottom: 1em; }

td {
    border-bottom: 1px solid #d8d8d8;
    /* border-right: 1px solid #d8d8d8; */
    padding-left: .3em;
    padding-right: .3em;
    padding-top: .2em;
    padding-bottom: .2em;
    line-height: 1.625em; }

tr { height: 1.5em; }
tr:hover { background: #e0e5f9 url('/static/image/mobile_2/global-hover.png') repeat-x top; }
tr a { color: black;}
tr a:hover { color: #003399;}

th, tfoot {
    border-top: 1px solid white;
    /*border-left: 1px solid white; */
    background-color: #666666;
    text-align: left;
    padding-left: .3em;
    padding-right: .2em;
    padding-top: .2em;
    padding-bottom: .2em;
    line-height: 1.625em;
    font-weight: bold;
    color: white; }

caption {
    font-style: italic;
    caption-side: bottom;
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em; }
.odd { background-color: #f6f6f6; }
table.list {
    border: 0;
    margin-bottom: 1em;
}

/*
 * 8. FLEXIBLE CONTAINERS
 * 
 */
/*
 * SIMPLE FLEXIBLE BOX
 * 
 */
.box-flat {
    background-color: #f6f6f6;
    margin-bottom: 1em;
    padding: 1em 1em 0.2em 1em;
    border-top: 1px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8; }

.box-flat p {
    padding: 0; }

/*
 * FLEXIBLE BOX WITH ROUNDED CORNERS
 * 
 */
.box-rounded {
    background: url('/static/image/mobile_2/box-bottom-left.png') no-repeat left bottom;
    margin-top: 0em;
    margin-bottom: 1em; }
.box-rounded h2 {
    background: url('/static/image/mobile_2/box-top-right.png') no-repeat right top;
    padding-top: .5em;
    padding-bottom: 5px;
    margin: 0;
    font-size: 110%;
    color: #219b00;
    padding-left: .8em;
    padding-right: .8em;
    border: none; }
.box-rounded p {
    padding-left: .8em;
    padding-right: .8em;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    margin: 0; }

.box-rounded-outer {
    background: url('/static/image/mobile_2/box-bottom-right.png') no-repeat right bottom;
    padding-bottom: .5em; }

.box-rounded-inner {
    background: url('/static/image/mobile_2/box-top-left.png') no-repeat left top; }

/*
 * 9. UTILITY COMPONENTS
 * see documentation for details
 */
/*
 * 5-STAR RATING
 * static only
 */
.rating {
    width: 150px;
    height: 24px;
    background: url('/static/image/mobile_2/sprite-rating.png') no-repeat 0px 0px;
    margin-bottom: 1em; }
.rating span {
    float: right;
    padding-top: 0.4em; }

.stars-0 {
    background-position: left 0px; }

.stars-1 {
    background-position: left -25px; }

.stars-2 {
    background-position: left -50px; }

.stars-3 {
    background-position: left -75px; }

.stars-4 {
    background-position: left -100px; }

.stars-5 {
    background-position: left -125px; }

ul.comment{
    list-style: none;
    margin-left: 0.2em;
}

ul.comment b{
    color: gray;
    margin-right: 0.5em;
}

ul.list2 label {
    width: 25%;
    display: inline-block;
    margin: 0;
    font-weight: bold;
    text-align: right;
}

ul.wide li label {
    width: 37%;
}
ul.list2 label.plain {
    font-weight: normal;
    text-align: left;
}

ul.list2 input[type='text'], ul.list2 select, ul.list2 input[type='password'] {
    width: 65%;
    display: inline;
}

.none { color: #aaa; }
