#top_container {
    margin: 0 auto;
	margin-top: 20px;
	padding: 20px;

	width: 900px;
	border: 0px solid;
	border-radius: 20px;

	background-color: white;
}

body {
	background-color: #888;
}

div#header {
    background-color: white;
}
